html{font-size: 0px!important;}

.fullsizePage{margin-left: -40px!important;margin-right: -30px!important;}

li.date-event-legend-green{background:#23d1b9;color: white!important;}

li.date-event-legend-red{background:#ea8181;color: white!important;}

li.date-event-legend-blue{color: white!important;background:#8b91a0;}
.loading_personal{margin-left: 225%;position: relative;font-size: 150px!important;margin-top: 70%;}           
.loading_personal_normal{position: relative;font-size: 150px!important;}
.loading_personal_page{position: relative;font-size: 100px!important;}
#tab_correspondencia_arquivos{min-height: 400px;}
tbody .files .name{max-width: 200px;word-wrap:break-word;}

.correspondencia .partition-dark{padding:0px!important;}
.disabledTab{pointer-events: none;}

.fc-event-title-event-Interno:before,
.fc-event-title-event-Recebidos:before,
.fc-event-title-event-Enviados:before{font-family: FontAwesome;font-size: 15px;line-height: 20px;padding-right: 5px;float: left;}

.fc-event-title-event-Interno:before {content: "\f041";color: #ea8181;}

.fc-event-title-event-Recebidos:before {content: "\f0a8";color: #23d1b9;}

.fc-event-title-event-Enviados:before{content: "\f0a9";color: #6c8fa1;}

.fc-event-title-event-Enviados,.fc-event-title-event-Recebidos,.fc-event-title-event-Interno{font-weight: bold;color: black;font-family: calibri;font-size: 13px;}


/*
    Historico
*/

.correspondencia_historico{height: 300px;overflow-y:auto;padding: 5px 10px 0px 0px;margin-bottom: 10px;}

.correspondencia_historico .item-historico{clear:both;width:48%;border: 1px solid #dfe1e5;border-radius: 5px;padding: 10px 30px;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);}

.correspondencia_historico .item-historico:first-child {margin-top: 0px;}

.correspondencia_historico .item-historico:nth-child(odd),.correspondencia_historico .item-historico:nth-child(even){/*margin-bottom: -90px;*/}
.correspondencia_historico .item-historico:nth-child(odd){float:left;}

.correspondencia_historico .item-historico:nth-child(even){float:right;}

.correspondencia_historico .content-historico p{font-weight: 200;word-wrap: break-word;}

.correspondencia_historico .item-historico .item-historico-date .day{font-size: 52px;letter-spacing:-2px;}

.correspondencia_historico span.user {margin-right: 10px;}

.correspondencia-historico-input .text-historico {margin-bottom: 10px;}

/*

*/


/*
    arquivos
*/

#tab_correspondencia_arquivos > .row{height: 350px;overflow-y: auto;padding: 0px 30px;}


/*

*/

.dados_pessoas .dados_pessoas_subtitulo a{color: inherit!important;cursor: pointer;}


.user-left td .remove-pessoa-vinculo,.user-left td .remove-pessoa-vinculo-empresa{visibility: hidden;}

.user-left td:hover .remove-pessoa-vinculo{visibility: visible;}

.user-left tr:hover .remove-pessoa-vinculo-empresa{visibility: visible;}