<div class="row fullsizePage">
	<div class="col-sm-12">
		<!-- start: FULL CALENDAR PANEL -->
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				{if="$p['inclusao'] == true"}
				<button class="btn btn-green" data-target=".correspondencia" data-form-url-save="actions/save.correspondencia.php" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar Correspondencia</button>
				{/if}
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					<div id='full-calendar'></div>
				</div>
			</div>
			<!-- *** SHOW CALENDAR *** -->
			<div id="showCalendar" class="show-calendar">
				<div class="barTopSubview">
					<a href="#newEvent" class="new-event button-sv" data-subviews-options='{"onShow": "editEvent()"}'><i class="fa fa-plus"></i> Add new event</a>
				</div>
				<div id="calendar"></div>
			</div>
			<div id="readFullEvent">				
				<div class="noteWrap col-md-8 col-md-offset-2">
					<div class="pricing-table">						
						<div id="sandbox_apllyEfects-recebidos" class="">
							<div class="col-lg-4 col-md-2 col-xs-6 pricing-green">
								<ul class="plan recebidos">
									<li class="plan-name">
										<h3></h3>
									</li>
									<li class="event-quantity plan-price">
										<h3>0</h3>
									</li>
									<li class="date-event-legend-green">
										<div class="event-day">
											<h2></h2>
										</div>
										<div class="event-date" style="border-bottom: 1px">
											<h3></h3>
											<h4></h4>
										</div>	
									</li>
									<li><button class="btn btn-list" data-id="2">Listar Correspondências</button></li>
								</ul>
							</div>
						</div>
						<div id="sandbox_apllyEfects-internos" class="">
							<div class="col-lg-4 col-md-2 col-xs-6 pricing-red">
								<ul class="plan internos">
									<li class="plan-name">
										<h3></h3>
									</li>
									<li class="event-quantity plan-price">
										<h3>0</h3>
									</li>
									<li class="date-event-legend-red">
										<div class="event-day">
											<h2></h2>
										</div>
										<div class="event-date" style="border-bottom: 1px">
											<h3></h3>
											<h4></h4>
										</div>	
									</li>
									<li><button class="btn btn-list" data-id="3">Listar Correspondências</button></li>
								</ul>
							</div>
						</div>
						<div id="sandbox_apllyEfects-enviados" class="">
							<div class="col-lg-4 col-md-2 col-xs-6 pricing-blue">
								<ul class="plan enviados">
									<li class="plan-name">
										<h3></h3>
									</li>
									<li class="event-quantity plan-price">
										<h3>0</h3>
									</li>
									<li class="date-event-legend-blue">
										<div class="event-day">
											<h2></h2>
										</div>
										<div class="event-date" style="border-bottom: 1px">
											<h3></h3>
											<h4></h4>
										</div>	
									</li>
									<li><button class="btn btn-list" data-id="1">Listar Correspondências</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---START MODAL ADICIONAR CORRESPONDENCIA -->
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal correspondencia fade" style="display: none; margin-top: 0px;">
				<div class="modal-lg modal-dialog loadmask">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
								×
							</button>
							<h4 id="myModalLabel" class="modal-title">Adicionando Nova Correspondencia</h4><small>Dados da Correspondencia</small>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="tabbable partition-dark">
									<ul id="tab_correspondencia" class="nav nav-tabs nor-border">
										<li class="active">
											<a href="#tab_correspondencia_dados" data-toggle="tab">
												<i class="green fa fa-exchange"></i> Dados
											</a>
										</li>
									</ul>									
									<div class="tab-content">
										<div class="tab-pane fade active in" id="tab_correspondencia_dados">
											<form action="#" role="form" id="form_correspondencia">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">
																Remetente:
															</label>
															<span class="input-icon">
																<input type="hidden" name="idcorrespondencia">
																<input type="hidden" name="idcorrespondenciadocumento">
																<input type="hidden" placeholder="idremetente" class="form-control setup" name="idpessoaremetente">
																<input type="text" placeholder="Remetente" class="form-control field_readonly setup" name="despessoa_remetente" required>
																<i class="fa fa-user"></i>
															</span>

															<button class="btn btn-green pull-right text-bold" data-toggle="modal" data-type="Remetente" data-target=".vincularpessoa" type="button" ><i class="fa fa-plus fa fa-white"></i> Selecione Remetente</button>

														</div>
														<div class="form-group">
															<label class="control-label">
																Destinatario: 
															</label>
															<span class="input-icon">
																<input type="hidden" placeholder="iddestinatario" class="form-control setup" name="idpessoadestinatario">
																<input type="text" placeholder="Destinatario" class="form-control field_readonly setup" name="despessoa_destinatario" required>
																<i class="fa fa-user"></i>
															</span>

															<button class="btn btn-green pull-right text-bold" data-toggle="modal" data-type="Destinatario" data-target=".vincularpessoa" type="button"><i class="fa fa-plus fa fa-white"></i> Selecione Destinatario</button>
														</div>
														<div class="form-group">
															<label for="select_idcorrespondenciatipo">
																Tipo de Correspondencia:
															</label>
															<select id="select_idcorrespondenciatipo" name="idcorrespondenciatipo" class="form-control">
																{loop="correspondenciatipos"}
																<option value="{$value.idcorrespondenciatipo}">{$value.descorrespondenciatipo}</option>
																{/loop}
															</select>
														</div>
														<div class="form-group">
															<label for="select_idenviotipo">
																Tipo de Envio:
															</label>
															<select id="select_idenviotipo" name="idenviotipo" class="form-control">
																{loop="enviotipos"}
																<option value="{$value.idenviotipo}">{$value.desenviotipo}</option>
																{/loop}
															</select>
														</div>
													</div>
													<!--Primeira Coluna-->
													<!--Segunda Coluna-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">
																Assunto:
															</label>
															<input type="text" required placeholder="Assunto" class="form-control" name="desassunto">
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="select_iddocumentotipo">
																		Tipo de Documento:
																	</label>
																	<select id="select_iddocumentotipo" name="iddocumentotipo" class="form-control">
																	{loop="documentotipos"}
																		<option value="{$value.iddocumentotipo}">{$value.desdocumentotipo}</option>
																	{/loop}
																	</select>
																</div>	
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Documento
																	</label>
																	<input type="date" required class="form-control date-picker" name="dtdocumento" format="dd/MM/yyyy">
																</div>
															</div>										
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Envio
																	</label>
																	<input type="date" required class="form-control" name="dtenviado" format="dd/MM/yyyy">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Recebimento
																	</label>
																	<input type="date" class="form-control" name="dtrecebido" format="dd/MM/yyyy">
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="select_idstatus">
																Status:
															</label>
															<select id="select_idstatus" name="idstatus" class="form-control">
																{loop="status"}
																<option value="{$value.idstatus}" {$value.idstatus == "2"?Selected:""}>{$value.desstatus}</option>
																{/loop}
															</select>
														</div>
													</div>							
													<!--Segunda Coluna-->
													<div class="col-md-12">
														<div class="form-group">
															<label for="form-field-22">
																Observações: 
															</label>
															<textarea placeholder="Observações" id="form-field-22" name="desobservacao" class="form-control"></textarea>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button data-dismiss="modal" class="btn btn-danger" type="button">
														<i class="fa fa-times fa fa-white"></i>
														Cancelar
													</button>
													<button class="btn btn-primary" type="submit">
														<i class="fa fa-save fa fa-white"></i>
														Salvar
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!---END MODAL ADICIONAR CORRESPONDENCIA -->

		<!---START MODAL VINCULAR PESSOA -->
			<div class="modal fade vincularpessoa" data-url="actions/list.pessoas.php" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg loadmask_pessoavincula">
					<div class="modal-content" style="min-height:440px;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel"></h4><small>Selecione uma pessoa abaixo:</small>
						</div>
						<div class="modal-body">
						</div>
					</div>
				</div>
			</div>
			<!---END MODAL VINCULAR PESSOAS -->

			<!---START MODAL LIST CORRESPONDENCIAS -->
			<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal-list-correspondecias">
				<div class="modal-dialog modal-lg">
					<div class="modal-content" style="min-height:440px;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel"></h4><small></small>
						</div>
						<div class="modal-body">
							<table class="table table-hover display" id="table_data_correspondencia">
								<thead>
									<tr>
										<th>Data</th>
										<th>Assunto</th>
										<th>Remetente</th>
										<th>Destinatario</th>										
										<th>Tipo</th>												
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!---END MODAL VINCULAR PESSOAS -->


			<!--START SCRIPT DA PAGINA-->
			<script src="{$path}/res/js/calendario/calendario.js"></script>

			<!--END SCRIPT DA PAGINA-->
			</div>
		</div>
	</div>
		<!-- end: FULL CALENDAR PANEL -->
