<div class="main-content">
	<div class="container">
   	 {include="header-title"}
    	<div class="row">
        	<div class="col-md-12">
				<div class="row fullsizePage">
					<div class="col-sm-12">
						<!-- start: FULL CALENDAR PANEL -->
						<div class="panel panel-white">
							<div class="panel-heading border-light">
								<button class="btn btn-green" data-target=".correspondencia" data-form-url-save="actions/save.correspondencia.php" data-toggle="modal"><i class="fa fa-plus"></i> 
								Adicionar Correspondência</button>
									{include="panel-tools"}
							</div>
							<div class="panel-body">
								<table class="table table-hover display" id="table_data_correspondencia">
									<thead>
										<tr>
											<th class="center">#</th>
											<th>Assunto</th>
											<th>Remetente</th>
											<th>Destinatario</th>
											<th>Usuario</th>													
											<th>Tipo</th>															
											<th>Data</th>
											<th>Status</th>
											<th></th>
										</tr>
									</thead>
									<tbody class="panel-scroll height-350 ps-container">
										{loop="correspondencias"}
										<tr>
											<td class="center">{$value.idcorrespondencia}</td>
											<td class="hidden-xs">{$value.desassunto}</td>
											<td>{$value.despessoa_remetente}</td>
											<td>{$value.despessoa_destinatario}</td>
											<td>{$value.deslogin}</td>
											<td>{$value.desdocumentotipo}</td>													
											<td>{$value.dtcadastro}</td>
											<td class="hidden-xs">
												{if="$value.idstatus == 1"}
													<span class="label label-sm label-success">{$value.desstatus}<span>
												{else}
													<span class="label label-sm label-danger">{$value.desstatus}<span>
												{/if}
											</td>
											<td class="center">
												<div class="visible-md visible-lg hidden-sm hidden-xs">
													<a href="#" class="btn btn-xs btn-blue tooltips" data-target=".correspondencia" data-toggle="modal" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.correspondencia.php" data-form-url-save="actions/save.correspondencia.php" data-form-params="{$value.idcorrespondencia}"><i class="fa fa-edit"></i></a>

													<a href="delete_correspondencia.php?idcorrespondencia={$value.idcorrespondencia}" class="btn btn-xs btn-red tooltips" data-target=".deletandocorrespondencia" data-toggle="modal" data-placement="top" data-original-title="Remover"><i class="fa fa-times fa fa-white"></i></a>
												</div>
											</td>
										</tr>
										{/loop}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal correspondencia" style="display: none; margin-top: 0px;">
						<div class="modal-lg modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
										×
									</button>
									<h4 id="myModalLabel" class="modal-title">Adicionando Nova Correspondencia</h4>
								</div>
								<div class="modal-body">
									<form action="#" role="form" id="form_correspondencia">
										<div class="row">
											<div class="col-md-12">
												<h3>Dados da Correspodencia</h3>
												<hr>
											</div>
											<!--Primeira Coluna-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">
														Remetente:
													</label>
													<span class="input-icon">

														<input type="hidden" name="idcorrespondencia">
														<input type="hidden" name="idcorrespondenciadocumento">

														<input type="hidden" placeholder="idremetente" class="form-control setup" name="idpessoaremetente">
														<input type="text" placeholder="Remetente" class="form-control field_readonly setup" name="despessoa_remetente" required>
														<i class="fa fa-user"></i>
													</span>

													<button class="btn btn-green pull-right text-bold" data-toggle="modal" data-type="Remetente" data-target=".vincularpessoa" type="button" ><i class="fa fa-plus fa fa-white"></i> Selecione Remetente</button>

												</div>
												<div class="form-group">
													<label class="control-label">
														Destinatario: 
													</label>
													<span class="input-icon">
														<input type="hidden" placeholder="iddestinatario" class="form-control setup" name="idpessoadestinatario">
														<input type="text" placeholder="Destinatario" class="form-control field_readonly setup" name="despessoa_destinatario" required>
														<i class="fa fa-user"></i>
													</span>

													<button class="btn btn-green pull-right text-bold" data-toggle="modal" data-type="Destinatario" data-target=".vincularpessoa" type="button"><i class="fa fa-plus fa fa-white"></i> Selecione Destinatario</button>
												</div>
												<div class="form-group">
													<label for="form-field-select-1">
														Tipo de Correspondencia:
													</label>
													<select id="form-field-select-1" name="idcorrespondenciatipo" class="form-control">
														{loop="correspondenciatipos"}
														<option value="{$value.idcorrespondenciatipo}">{$value.descorrespondenciatipo}</option>
														{/loop}
													</select>
												</div>
												<div class="form-group">
													<label for="form-field-select-1">
														Tipo de Envio:
													</label>
													<select id="form-field-select-1" name="idenviotipo" class="form-control">
														{loop="enviotipos"}
														<option value="{$value.idenviotipo}">{$value.desenviotipo}</option>
														{/loop}
													</select>
												</div>
											</div>
											<!--Primeira Coluna-->
											<!--Segunda Coluna-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">
														Assunto:
													</label>
													<input type="text" required placeholder="Assunto" class="form-control" name="desassunto">
												</div>
												<div class="row">
													<div class="col-md-5">
														<div class="form-group">
															<label for="form-field-select-1">
																Tipo de Documento:
															</label>
															<select id="form-field-select-1" name="iddocumentotipo" class="form-control">
															{loop="documentotipos"}
																<option value="{$value.iddocumentotipo}">{$value.desdocumentotipo}</option>
															{/loop}
															</select>
														</div>	
													</div>
													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">
																Data do Documento
															</label>
															<input type="date" required class="form-control date-picker" name="dtdocumento">
														</div>
													</div>										
												</div>
												<div class="row">
													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">
																Data do Envio
															</label>
															<input type="date" required class="form-control" name="dtenviado">
														</div>
													</div>
													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">
																Data do Recebimento
															</label>
															<input type="date" class="form-control" name="dtrecebido">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="form-field-select-1">
														Status:
													</label>
													<select id="form-field-select-1" name="idstatus" class="form-control">
														<option value="1">Enviado</option>
														<option value="2">Recebido</option>
													</select>
												</div>
											</div>							
											<!--Segunda Coluna-->
											<div class="col-md-12">
												<div class="form-group">
													<label for="form-field-22">
														Observações: 
													</label>
													<textarea placeholder="Observacoes" id="form-field-22" name="desobservacao" class="form-control"></textarea>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button data-dismiss="modal" class="btn btn-danger" type="button">
												<i class="fa fa-times fa fa-white"></i>
												Cancelar
											</button>
											<button class="btn btn-primary" type="submit">
												<i class="fa fa-save fa fa-white"></i>
												Salvar
											</button>
										</div>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<!--STAR DELETANDO CORRESPONDENCIA-->
					<div class="modal fade deletandocorrespondencia" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none; margin-top: 0px;">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
										×
									</button>
									<h4 id="myLargeModalLabel" class="modal-title">Deletando Correspondencia</h4>
								</div>
								<div class="modal-body">
									<p>
										Deseja excluir essa correspondencia ?
									</p>
								</div>
								<div class="modal-footer">
									<button data-dismiss="modal" class="btn btn-danger" type="button">
										<i class="fa fa-times fa fa-white"></i>
										Cancelar
									</button>
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-save fa fa-white"></i>
										Salvar
									</button>
								</div>
							</div>
						</div>
					</div>
					<!--END DELETANDO CORRESPONDENCIA-->

					<div class="modal fade vincularpessoa" data-url="actions/list.pessoas.php" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel"></h4><small>Selecione uma pessoas abaixo</small>
								</div>
								<div class="modal-body">
									<table class="table table-striped table-hover display" id="data_table_dinamic_1">
										<thead>
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>Telefone</th>
											<th>E-mail</th>
										</tr>
										</thead>
										<tbody>										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>		

