<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				{if="$p['inclusao'] == true"}
					<button class="btn btn-green" data-target=".correspondencia" data-titlemodal="Adicionando Nova Correspondencia" data-form-url-save="actions/save.correspondencia.php" data-toggle="modal"><i class="fa fa-plus"></i> 
					Adicionar Correspondência</button>
						{include="panel-tools"}
				{/if}
			</div>
			<div class="panel-body">
				<table class="table table-hover display" id="table_data_correspondencia">
					<thead>
						<tr>
							<th>Data</th>
							<th>Assunto</th>
							<th>Remetente</th>
							<th>Destinatario</th>										
							<th>Tipo</th>												
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{loop="correspondencias"}
						<tr>
							<td>{$value.dtcadastro}</td>
							<td class="hidden-xs">{$value.desassunto}</td>
							<td>{$value.despessoa_remetente}</td>
							<td>{$value.despessoa_destinatario}</td>
							<td>{$value.desdocumentotipo}</td>													
							<td class="hidden-xs">
								{if="$value.idstatus == 1"}
									<span class="label label-sm label-success">{$value.desstatus}</span>
								{elseif="$value.idstatus == 2"}
									<span class="label label-sm label-danger">{$value.desstatus}</span>
								{else}
									<span class="label label-sm label-primary">{$value.desstatus}</span>
								{/if}
							</td>
							<td class="center">
								<div class="visible-md visible-lg hidden-sm hidden-xs">
									{if="$p['edicao'] == true"}
									<a href="#" class="btn btn-xs btn-blue tooltips" data-target=".correspondencia" data-toggle="modal" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.correspondencia.php" data-enable-all-tabs=true data-titlemodal="Editando Correspondencia" data-form-url-save="actions/save.correspondencia.php" data-form-params="{$value.idcorrespondencia}"><i class="fa fa-edit"></i></a>
									{/if}
								{if="$value.idstatus == 2"}
									{if="$p['delecao'] == true"}
									<a href="#" class="btn btn-xs btn-red tooltips" data-target=".removecorrespondencia" data-toggle="modal" data-placement="top" data-form-url-delete ="actions/remove.correspondencia.php" data-form-params="{$value.idcorrespondencia}" data-form-params1="{$value.idcorrespondenciadocumento}" data-original-title="Remover"><i class="fa fa-times fa fa-white"></i></a>
									{/if}
								{/if}
								</div>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
			<!--START CORRESPONDENCIA-->

			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal correspondencia fade" style="display: none; margin-top: 0px;">
				<div class="modal-lg modal-dialog loadmask">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
								×
							</button>
							<h4 id="myModalLabel" class="modal-title">Adicionando Nova Correspondencia</h4>
							<small>Dados da Correspondencia</small>
						</div>
						<div class="modal-body text-bold">
							<div class="row">
								<div class="tabbable partition-dark">
									<ul id="tab_correspondencia" class="nav nav-tabs nor-border">
										<li class="active">
											<a href="#tab_correspondencia_dados" data-toggle="tab">
												<i class="green fa fa-exchange"></i> Dados
											</a>
										</li>
										<li class="tab_correspondencia_arquivos disabledTab">
											<a href="#tab_correspondencia_arquivos" data-toggle="tab">
												<i class="green fa fa-upload"></i> Arquivos
											</a>
										</li> 
										<li class="tab_correspondencia_historicos disabledTab">
											<a href="#tab_correspondencia_historicos" data-toggle="tab">
												<i class="green fa fa-history"></i> Historicos
											</a>
										</li> 
										<li class="tab_correspondencia_outros disabledTab">
											<a href="#tab_correspondencia_outros" data-toggle="tab">
												<i class="green fa fa-info-circle"></i> Outros
											</a>
										</li> 
									</ul>									
									<div class="tab-content">
										<div class="tab-pane fade active in" id="tab_correspondencia_dados">
											<form action="#" role="form" id="form_correspondencia">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">
																Remetente:
															</label>
															<span class="input-icon">
																<input type="hidden" name="idcorrespondencia">
																<input type="hidden" name="idcorrespondenciadocumento">
																<input type="hidden" placeholder="idremetente" class="form-control setup" name="idpessoaremetente">
																<input type="text" placeholder="Remetente" class="form-control field_readonly setup" name="despessoa_remetente" required>
																<i class="fa fa-user"></i>
															</span>

															<button class="btn btn-green pull-right text-bold" id="button_remetente" data-toggle="modal" data-type="Remetente" data-target=".vincularpessoa" type="button" ><i class="fa fa-plus fa fa-white"></i> Selecione Remetente</button>

														</div>
														<div class="form-group">
															<label class="control-label">
																Destinatario: 
															</label>
															<span class="input-icon">
																<input type="hidden" placeholder="iddestinatario" class="form-control setup" name="idpessoadestinatario">
																<input type="text" placeholder="Destinatario" class="form-control field_readonly setup" name="despessoa_destinatario" required>
																<i class="fa fa-user"></i>
															</span>
															<button class="btn btn-green pull-right text-bold" id="button_destinatario" data-toggle="modal" data-type="Destinatario" data-target=".vincularpessoa" type="button"><i class="fa fa-plus fa fa-white"></i> Selecione Destinatario</button>
														</div>
														<div class="form-group">
															<label for="select_idcorrespondenciatipo">
																Tipo de Correspondencia:
															</label>
															<select id="select_idcorrespondenciatipo" name="idcorrespondenciatipo" class="form-control">
																{loop="correspondenciatipos"}
																<option value="{$value.idcorrespondenciatipo}">{$value.descorrespondenciatipo}</option>
																{/loop}
															</select>
														</div>
														<div class="form-group">
															<label for="select_idenviotipo">
																Tipo de Envio:
															</label>
															<select id="select_idenviotipo" name="idenviotipo" class="form-control">
																{loop="enviotipos"}
																<option value="{$value.idenviotipo}">{$value.desenviotipo}</option>
																{/loop}
															</select>
														</div>	
													</div>
													<!--Primeira Coluna-->
													<!--Segunda Coluna-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">
																Assunto:
															</label>
															<input type="text" required placeholder="Assunto" class="form-control" name="desassunto">
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="select_iddocumentotipo">
																		Tipo de Documento:
																	</label>
																	<select id="select_iddocumentotipo" name="iddocumentotipo" class="form-control">
																	{loop="documentotipos"}
																		<option value="{$value.iddocumentotipo}">{$value.desdocumentotipo}</option>
																	{/loop}
																	</select>
																</div>	
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Documento
																	</label>
																	<input type="date" required class="form-control date-picker" name="dtdocumento" format="dd/MM/yyyy">
																</div>
															</div>										
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Envio
																	</label>
																	<input type="date" required class="form-control" name="dtenviado" format="dd/MM/yyyy">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">
																		Data do Recebimento
																	</label>
																	<input type="date" class="form-control" name="dtrecebido" format="dd/MM/yyyy">
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="select_idstatus">
																Status:
															</label>
															<select id="select_idstatus" name="idstatus" class="form-control">
																{loop="status"}
																	<option value="{$value.idstatus}" {$value.idstatus == "2"?Selected:""}>{$value.desstatus}
																	</option>
																{/loop}
															</select>
														</div>
													</div>							
													<!--Segunda Coluna-->
													<div class="col-md-12">
														<div class="form-group">
															<label for="form-field-22">
																Observações: 
															</label>
															<textarea placeholder="Observações" id="form-field-22" name="desobservacao" class="form-control"></textarea>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button data-dismiss="modal" class="btn btn-danger" type="button">
														<i class="fa fa-times fa fa-white"></i>
														Cancelar
													</button>
													<button class="btn btn-primary" type="submit">
														<i class="fa fa-save fa fa-white"></i>
														Salvar
													</button>
												</div>
											</form>
										</div>
										<div class="tab-pane fade" id="tab_correspondencia_arquivos">
											<div class="panel-heading">
												<button class="btn btn-green" data-target=".uploadfile" data-toggle="modal">
													<i class="fa fa-plus"></i> Adicionar Novo Arquivo
												</button>
												<div class="btn-group pull-right">
													<a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
														<span class="caret"></span>
													</a>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="javascript:void(0)" class="send-email">
																<i class="fa fa-envelope"></i> Enviar E-mail
															</a>
														</li>
													</ul>
												</div>	
											</div>
											<div class="row">
												<table class="table table-striped">
													<thead>
														<tr>
															<th class="left hidden-xs">
																<div class="checkbox-table">
																	<label>
																		<input type="checkbox" class="flat-grey selectall">
																	</label>
																</div>
															</th>
															<th>Nome</th>
															<th>Tamanho</th>
															<th>#</th>
														</tr>
													</thead>
													<tbody>	
													</tbody>
												</table>
											</div>
											<div class="text-bold text-red">*Para enviar Anexos por e-mail, marque opção ao lado do nome do arquivo.</div>
										</div>
										<div class="tab-pane fade" id="tab_correspondencia_historicos">
											<div class="correspondencia_historico"></div>
											<div class="correspondencia-historico-input">
												<div class="text-historico">
													<textarea placeholder="Historico correspondencia" class="form-control" cols="8">
													</textarea>
												</div>
												<div class="pull-right">
													<button data-dismiss="modal" class="btn btn-danger" type="button">
														<i class="fa fa-times fa fa-white"></i>
														Cancelar
													</button>
													<button class="btn btn-primary addhistorico" type="button">
														<i class="fa fa-save fa fa-white"></i>
														Salvar
													</button>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="tab_correspondencia_outros">
											{loop="$campos"}
												<form id="form_outros">
													<div class="form-group">
													    <label for="exampleInputEmail1">{$value.desnomeexibicao}</label>
													    
													    {if="$value.idcampotipo == '1'"}
													    	<input type="text" class="form-control" name="campo-{$value.idcampo}" idcorrespondenciaoutros="0">
													    {/if}
													    {if="$value.idcampotipo == '2'"}
													    	<input type="integer" class="form-control" name="campo-{$value.idcampo}" idcorrespondenciaoutros="0">
													    {/if}
													    {if="$value.idcampotipo == '3'"}
													    	<input type="integer" class="form-control" name="campo-{$value.idcampo}" idcorrespondenciaoutros="0">
													    {/if}
													    {if="$value.idcampotipo == '4'"}
													    	<input type="date" class="form-control" name="campo-{$value.idcampo}" idcorrespondenciaoutros="0" format="dd/MM/yyyy">
													    {/if}
													    {if="$value.idcampotipo == '5'"}
													    	<select class="form-control" name="campo-{$value.idcampo}" idcorrespondenciaoutros="0">
													    		{loop="$value.options"}
													    		<option value="{$value.idcamposelect}">{$value.desvalue}</option>
													    		{/loop}
													    	</select>
													    {/if}
												  	</div>
												</form>
											{/loop}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--END CORRESPONDENCIA-->

			<!--START VINCULAR_PESSOA -->
			<div class="modal fade vincularpessoa" data-url="actions/list.pessoas.php" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg loadmask_pessoavincula">
					<div class="modal-content" style="min-height:500px;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel"></h4>
							<small>Selecione uma pessoa abaixo:</small>
						</div>
						<div class="modal-body">
						</div>
					</div>
				</div>
			</div>

			<!--END VINCULAR_PESSOA-->

			<!--START UPLOADFILE -->
			<div class="modal fade uploadfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Adicionar Novo Arquivo</h4><small></small>
						</div>
						<div class="modal-body">							
							<form id="form-fileupload" method="POST" enctype="multipart/form-data">
								<div class="row fileupload-buttonbar">
									<div class="col-sm-12">
										<input type="hidden" name="idcorrespondencia">
										<span class="btn btn-success fileinput-button"> <i class="glyphicon glyphicon-plus"></i>
											<span>Adicionar Arquivos...</span>
											<input type="file" name="files[]" multiple/>
										</span>
										<button type="submit" class="btn btn-primary start">
											<i class="glyphicon glyphicon-upload"></i>
											<span>Iniciar Upload</span>
										</button>
										<span class="fileupload-loading"></span>
										<div class="progress-extended">&nbsp;</div>
									</div>
								</div>
								<table id="show_upload_file" role="presentation" class="table table-striped no-display">
									<thead>
										<tr>
											<th>Arquivo</th>
											<th>Tamanho</th>
										</tr>
									</thead>
									<tbody class="files">
										<tr class="template-upload fade processing in">
											<td>
												<p class="name"></p>
											</td>
											<td>
												<p class="size"></p>			
												<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
													<div class="progress-bar progress-bar-success" style="width:0%;"></div>
													<span class="fan fan-check"></span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--END UPLOADFILE -->
			<!--START EMAIL CORRESPONDENCIA -->
			<div class="modal fade correspondenciaemail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-md loadmask">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">E-mail Correspondencia</h4><small></small>
						</div>
						<div class="modal-body">							
							<form id="form_send_email">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">
												E-mail:
											</label>
											<input type="text" class="form-control" placeholder="E-mail" name="email" required>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">
												Assunto:
											</label>
											<input type="text" class="form-control" placeholder="Assunto" name="assunto" required>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">
												Mensagem:
											</label>
											<textarea placeholder="Mensagem" rows="8" id="form-field-22" name="mensagem" class="form-control" required>
											</textarea>
										</div>
									</div>
									<input type="hidden" class="form-control" name="idcorrespondencia">
									<input type="hidden" class="form-control" name="idarquivo">
								</div>
								<div class="modal-footer">
									<button data-dismiss="modal" class="btn btn-danger" type="button">
										<i class="fa fa-times fa fa-white"></i>
										Cancelar
									</button>
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-send-o fa fa-white"></i>
										Enviar
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
				<!--END EMAIL CORRESPONDENCIA -->
		</div>		
	</div>		
</div>
<!--START SCRIPT DA PAGINA-->
<script src="{$path}/res/js/correspondencia/correspondencias.js?{function="time()"}"></script>
<!--END SCRIPT DA PAGINA-->		



