<div class="row fullsizePage">
	<div class="col-sm-12">
		<!-- start: FULL CALENDAR PANEL -->
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				{if="$p['inclusao'] == true"}
				<button class="btn btn-green" data-target=".documentotipo" data-titlemodal="Adicionando Novo Tipo de  Documento" data-toggle="modal" data-form-url-save="actions/save.documentotipo.php" data-form-params1 = "1"><i class="fa fa-plus"></i> Adicionar Documentos</button>
				<!-- <i class="fa fa-calendar"></i> -->
				{include="panel-tools"}
				{/if}
			</div>
			<div class="panel-body">
				<table class="table table-hover display" id="table_data_documentotipos">
					<thead>
						<tr>
							<th>Tipo de Documento</th>											
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{loop="documentotipos"}
						<tr>
							<!-- <td data-iddocumentotipo="{$value.iddocumentotipo}">{$value.iddocumentotipo}</td> -->
							<td>{$value.desdocumentotipo}</td>
							<td class="hidden-xs">
								{if="$value.instatus == 0"}
									<span class="label label-sm label-danger">Desativado</span>
								{else}
									<span class="label label-sm label-success">Ativo</span>
								{/if}</td>
								<td class="center">
									<div class="visible-md visible-lg hidden-sm hidden-xs">

										{if="$p['edicao'] == true"}
										<a href="#" class="btn btn-xs btn-blue tooltips" data-toggle="modal" data-target=".documentotipo" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.documentotipo.php" data-titlemodal="Editando Tipo de Documento" data-form-url-save="actions/save.documentotipo.php" data-form-params="{$value.iddocumentotipo}" ><i class="fa fa-edit"></i></a>
										{/if}
										{if="$p['delecao'] == true"}
										<a href="#" class="btn btn-xs btn-red tooltips" data-target=".removedocumentotipo" data-toggle="modal" data-placement="top" data-form-url-delete="actions/remove.documentotipo.php" data-form-params="{$value.iddocumentotipo}" data-original-title="Remover"><i class="fa fa-times fa fa-white"></i></a>
										{/if}
									</div>
								</td>
							</tr>	
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--START ADICIONANDO NOVO DOCUMENTO-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal documentotipo fade" style="display: none; margin-top: 0px;">
	<div class="modal-md modal-dialog loadmask">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
					×
				</button>
				<h4 id="myModalLabel" class="modal-title">Adicionando Novo Tipo de Documento</h4>
				<small>Dados do Tipo de Documento</small>
			</div>
			<div class="modal-body">
				<form action="#" role="form" id="form_documentotipo" data-idcategoria="1">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Tipo do Documento:
								</label>
								<input type="hidden" class="form-control" id="iddocumentotipo" name="iddocumentotipo">
								<input type="hidden" value="1" class="form-control" id="idcategoria" name="idcategoria">
								<input type="text" placeholder="Tipo Documento" class="form-control" id="desdocumentotipo" name="desdocumentotipo" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="form-field-select-1">
									Status:
								</label>
								<select id="form-field-select-1" name="instatus" class="form-control">
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">
							<i class="fa fa-times fa fa-white"></i>
							Fechar
						</button>
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-save fa fa-white"></i>
							Salvar
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!--END ADICIONANDO NOVO DOCUMENTO-->
<!--START SCRIPT DA PAGINA-->
<script src="{$path}/res/js/documentotipos/documentotipos.js"></script>
<!--END SCRIPT DA PAGINA-->	