			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal alteracorrespondencia fade" style="display: none; margin-top: 0px;">
				<div class="modal-lg modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
								×
							</button>
							<h4 id="myModalLabel" class="modal-title">Alterando Correspondencia</h4>
						</div>
						<div class="modal-body">
							<form action="#" role="form" id="form">
				<div class="row">
					<div class="col-md-12">
						<h3>Dados da Correspodencia</h3>
						<hr>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Assunto:
							</label>
							<input type="text" placeholder="Assunto" class="form-control" id="firstname" name="firstname">
						</div>
						<div class="form-group">
							<label class="control-label">
								Remetente:
							</label>
							<input type="text" placeholder="Remetente" class="form-control" id="lastname" name="lastname">
						</div>
						<div class="form-group">
							<label class="control-label">
								Destinatario: 
							</label>
							<input type="email" placeholder="Destinatario" class="form-control" id="email" name="email">
						</div>
						<div class="form-group">
							<label for="form-field-select-1">
								Tipo de Correspondencia:
							</label>
							<select id="form-field-select-1" class="form-control">
								<option value="1">x</option>
								<option value="2">y</option>
								<option value="3">z</option>
								<option value="4">k</option>
							</select>
						</div>
						<div class="form-group">
							<label class="control-label">
								Data do Documento: 
							</label>
							<input type="date" class="form-control" name="data-documento" id="date-documento">
						</div>
						<div class="form-group">
							<label for="form-field-select-1">
								Tipo de Documento:
							</label>
							<select id="form-field-select-1" class="form-control">
								<option value="1">A</option>
								<option value="2">B</option>
								<option value="3">C</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label class="control-label">
										Data do Envio
									</label>
									<input type="date" class="form-control" name="date-envio" id="date-envio">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label class="control-label">
										Data do Recebimento
									</label>
									<input type="date" class="form-control" name="date-recebimento" id="date-recebimento">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="form-field-select-1">
								Status:
							</label>
							<select id="form-field-select-1" class="form-control">
								<option value="1">Enviado</option>
								<option value="2">Recebido</option>
							</select>
						</div>
						<div class="form-group">
							<label for="form-field-22">
								Observacções: 
							</label>
							<textarea placeholder="Observacoes" id="form-field-22" class="form-control"></textarea>
						</div>
					</div>
				</div>
					</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default" type="button">
								Fechar
							</button>
							<button class="btn btn-primary" type="button">
								Salvar
							</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>