<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal alterandodocumento fade" style="display: none; margin-top: 0px;">
	<div class="modal-md modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
					×
				</button>
				<h4 id="myModalLabel" class="modal-title">Alterando Documento</h4>
			</div>
			<div class="modal-body">
				<form action="#" role="form" id="form">
					<div class="row">
						<div class="col-md-12">
							<h3>Dados do Documento</h3>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Documento:
								</label>
								<input type="text" placeholder="Documento" value= "" class="form-control" id="documento" name="documento">
							</div>
							<div class="form-group">
								<label for="form-field-select-1">
									Status:
								</label>
								<select id="form-field-select-1" class="form-control">
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">
					Fechar
				</button>
				<button class="btn btn-primary" type="button">
					Salvar
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>