<div class="container">
	<div class="row">
		<!-- start: 500 -->
		<div class="col-sm-12 page-error animated shake">
			<div class="error-number text-red">
				500
			</div>
			<div class="error-details col-sm-6 col-sm-offset-3">
				<h3>Oops! You are stuck at 500</h3>
				<p>
					{$errstr}
					<br>
					Linha: {$errline}
					<br>
					{$errfile}
					<br>
					{$errno}
					<br>
					It looks as though we've broken something on our system.
					<br>
					Don't panic, we are fixing it! Please come back in a while.
				</p>
			</div>
		</div>
		<!-- end: 500 -->
	</div>
</div>