                                {if="$layout.topbar"}                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    {if="$layout.wrapper"}
    </div>
    {/if}
    {if="$layout.footer"}
    <footer class="inner">
        <div class="footer-inner">
            <div class="pull-left">
                {function="date('Y')"} &copy; {$string.fastcode}.
            </div>
            <div class="pull-right">
                <span class="go-top"><i class="fa fa-chevron-up"></i></span>
            </div>
        </div>
    </footer>
    {/if}
        <!--[if lt IE 9]>
        <script src="{$path}/res/plugins/respond.min.js"></script>
        <script src="{$path}/res/plugins/excanvas.min.js"></script>
        <script type="text/javascript" src="{$path}/res/plugins/jQuery/jquery-1.11.1.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="{$path}/res/plugins/jQuery/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->
        <script src="{$path}/res/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="{$path}/res/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="{$path}/res/plugins/blockUI/jquery.blockUI.js"></script>
        <script src="{$path}/res/plugins/iCheck/jquery.icheck.min.js"></script>
        <script src="{$path}/res/plugins/moment/min/moment.min.js"></script>
        <!--<script src="{$path}/res/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>-->
        <script src="{$path}/res/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
        <script src="{$path}/res/plugins/bootbox/bootbox.min.js"></script>
        <script src="{$path}/res/plugins/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script src="{$path}/res/plugins/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
        <!-- <script src="{$path}/res/plugins/jquery.appear/jquery.appear.js"></script> -->
        <!--<script src="{$path}/res/plugins/jquery-cookie/jquery.cookie.js"></script>-->
        <script src="{$path}/res/plugins/velocity/jquery.velocity.min.js"></script>
        <script src="{$path}/res/plugins/TouchSwipe/jquery.touchSwipe.min.js"></script>

        <!--<script src="{$path}/res/js/handlebars-v1.3.0.js"></script>
        <script src="{$path}/res/js/plugins/jrangel/jquery.filepicker.js"></script>
        <script src="{$path}/res/js/plugins/jrangel/jquery.btnload.js"></script>
        <script src="{$path}/res/js/plugins/jrangel/jquery.menu.js"></script>
        <script src="{$path}/res/js/plugins/jrangel/jquery.form.js"></script>-->

        <script src="{$path}/res/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
        <script src="{$path}/res/plugins/jquery-mockjax/jquery.mockjax.js"></script>
        <script src="{$path}/res/plugins/toastr/toastr.js"></script>
        <!--<script src="{$path}/res/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>-->
        <script src="{$path}/res/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
<!--         <script src="{$path}/res/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
        <script src="{$path}/res/plugins/bootstrap-select/bootstrap-select.min.js"></script> -->
        <script src="{$path}/res/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="{$path}/res/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
        <script src="{$path}/res/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
        <script src="{$path}/res/plugins/DataTables/media/js/DT_bootstrap.js"></script>
        <!--<script src="{$path}/res/plugins/truncate/jquery.truncate.js"></script>-->
        <!--<script src="{$path}/res/plugins/summernote/dist/summernote.min.js"></script>-->
        <!-- <script src="{$path}/res/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> -->        
        <!--<script src="{$path}/res/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>-->
        <script src="{$path}/res/plugins/nvd3/lib/d3.v3.js"></script>
        <script src="{$path}/res/plugins/nvd3/nv.d3.min.js"></script>
        <!--<script src="{$path}/res/plugins/nvd3/src/models/historicalBar.js"></script>
        <script src="{$path}/res/plugins/nvd3/src/models/historicalBarChart.js"></script>
        <script src="{$path}/res/plugins/nvd3/src/models/stackedArea.js"></script>
        <script src="{$path}/res/plugins/nvd3/src/models/stackedAreaChart.js"></script>
        <script src="{$path}/res/plugins/jquery.sparkline/jquery.sparkline.js"></script>
        <script src="{$path}/res/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>-->

        <script src="{$path}/res/plugins/select2/select2.min.js"></script>
        <!--<script src="{$path}/res/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>-->
        <script src="{$path}/res/plugins/x-editable/js/bootstrap-editable.min.js"></script>
        <script src="{$path}/res/plugins/typeaheadjs/typeaheadjs.js"></script>
        <script src="{$path}/res/plugins/typeaheadjs/lib/typeahead.js"></script>
        <!--<script src="{$path}/res/plugins/jquery-address/address.js"></script>-->
        <!--<script src="{$path}/res/plugins/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>-->
        <!--<script src="{$path}/res/plugins/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5.js"></script>-->
        <!--<script src="{$path}/res/plugins/wysihtml5/wysihtml5.js"></script>-->
        <!--<script src="{$path}/res/plugins/x-editable/demo-mock.js"></script>-->
        <!--<script src="{$path}/res/plugins/x-editable/demo.js"></script>>-->

        <!--<script src="{$path}/res/plugins/mixitup/src/jquery.mixitup.js"></script>-->
        <script src="{$path}/res/plugins/lightbox2/js/lightbox.min.js"></script>
        <!--<script src="{$path}/res/js/pages-gallery.js"></script>-->
        <!--<script src="{$path}/res/js/pages-calendar.js"></script> -->

        <script src="{$path}/res/plugins/autosize/jquery.autosize.min.js"></script>
        <script src="{$path}/res/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
        <script src="{$path}/res/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="{$path}/res/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
        <!--<script src="{$path}/res/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="{$path}/res/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script src="{$path}/res/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="{$path}/res/plugins/bootstrap-colorpicker/js/commits.js"></script>
        <script src="{$path}/res/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>-->
        <script src="{$path}/res/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
        <script src="{$path}/res/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
        <script src="{$path}/res/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
        <script src="{$path}/res/plugins/ckeditor/ckeditor.js"></script>
        <script src="{$path}/res/plugins/ckeditor/adapters/jquery.js"></script>
        <script src="{$path}/res/js/form-elements.js"></script>

        <script src="{$path}/res/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
        <script src="{$path}/res/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
        <script src="{$path}/res/js/ui-modals.js"></script>

        <script src="{$path}/res/plugins/jstree/dist/jstree.js"></script>
        <!-- <script src="{$path}/res/plugins/jstree/dist/jstree.min.js"></script> -->
        <script src="{$path}/res/js/ui-treeview.js"></script>
        <!--<script src="{$path}/res/plugins/ladda-bootstrap/dist/spin.min.js"></script>-->
        <!--<script src="{$path}/res/plugins/DataTables/media/js/date-eu.js"></script>
        <!--<script src="//cdn.datatables.net/plug-ins/380cb78f450/sorting/date-eu.js"></script>-->
        <!--<script src="{$path}/res/plugins/ladda-bootstrap/dist/ladda.min.js"></script>-->
        <!--<script src="{$path}/res/js/ui-buttons.js"></script>-->
        
        <!--<script src="{$path}/res/js/index.js"></script>-->
        <script src="{$path}/res/js/dashboard.chart.js"></script>
        <script src="{$path}/res/js/page.js?{function="time()"}"></script>
        <script src="{$path}/res/js/main.js"></script>
        <script>
            jQuery(document).ready(function() {
                Main.init();
                Charts.init();

            $.each(initJquery, function(){this();});    

            });


        </script>
    </body>
</html>