<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-body">
				<table class="table table-hover display" id="table_data_formularios">
					<thead>
						<tr>
							<th>Formulario</th>											
							<th></th>
						</tr>
					</thead>
					<tbody>
						{loop="formulario"}
						<tr>
							<td>{$value.desformulario}</td>
							<td class="hidden-xs">
								<td class="center">
									<div class="visible-md visible-lg hidden-sm hidden-xs">
										{if="$p['inclusao'] == true"}
										<a href="#" class="btn btn-xs btn-blue tooltips" data-toggle="modal" data-target=".formulario" data-placement="top" data-id="{$value.idformulario}" ><i class="fa fa-check-square-o"></i></a>
										{/if}
									</div>
								</td>
							</tr>	
							{/loop}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal formulario fade" style="display: none; margin-top: 0px;">
		<div class="modal-md modal-dialog loadmask">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
						×
					</button>
					<h4 id="myModalLabel" class="modal-title">Adicionando Novo Campo ao formulario</h4>
				</div>
				<div class="modal-body">
					<form action="#" role="form" id="form_formulario" data-idcategoria="1">
						<button class="btn btn-primary btn-add-field">Adicionar Campo</button>
					</form>
					<table id="table_campos" class="table">
						<thead>
							<tr>
								<th style="width:98%">Campo</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" style="display: none; margin-top: 0px;" id="formulariocampos">
		<div class="modal-md modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
						×
					</button>
					<h4 id="myModalLabel" class="modal-title">Escolha as opções do campo</h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form-horizontal">
						<input type="hidden" value="0" name="idformulario" />
						<input type="hidden" value="0" name="idcampo" />
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label" for="desnomeexibicao">
									Nome de exibição do campo
								</label>
								<input type="text" placeholder="Nome que irá aparecer no formulário" class="form-control" name="desnomeexibicao">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label" for="idcampotipo">
									Tipo do campo
								</label>
								<select class="form-control" name="idcampotipo" id="idcampotipo">
									<option value=""></option>
									{loop="$campotipos"}
									<option value="{$value.idcampotipo}">{$value.descampotipo}</option>
									{/loop}
								</select>
							</div>
						</div>
						<div class="form-group hide" id="options">
							<div class="col-sm-12">
								<button class="btn btn-default btn-add-options">Adicionar Options</button>
							</div>
							<div class="col-sm-12">
								<div class="opts">
									
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-save-campos">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<script src="{$path}/res/js/formularios/formulario.js"></script>
