<ul class="nav navbar-right">
    <li class="dropdown current-user">
        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
            <img src="{$path}/res/images/anonymous.jpg" class="img-circle" alt=""> 
            <span class="username hidden-xs"></span> <i class="fa fa-caret-down "></i>
        </a>
        <ul class="dropdown-menu dropdown-dark">
            <li>
                <a href="pages_user_profile.html">
                    Configurações
                </a>
            </li>
            <li>
                <a href="logout.html">
                    Sair
                </a>
            </li>
        </ul>
    </li>
</ul>