<style type="text/css">
	body{
		background-color: transparent;
	}
	header{
		background: url("res/img/bg_menor.jpg") no-repeat !important;
		width: 100%;
		height: 60px;
	}
	#pageslide-left{
		padding-top: 20px;
	}
	.main-container, #pageslide-left, #pageslide-right{
		background: #DDDDDD;
		color: #000;
	}
	.navbar-fixed-top, .navbar-fixed-bottom{
		position: inherit;
	}
	::selection {
	  background: url("res/img/bg_menor.jpg") no-repeat !important;
	  width: 100%;
	  color: white;
	}
	.topbar .container .navbar-header{
	    float: left;
	    margin-top: 10px;
	    padding-top: 10px;
	    position: relative;
	}
	.navbar-right{
		margin-top: 25px !important;
	}
</style>
<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
	<!-- start: TOPBAR CONTAINER -->
	<div class="container">
		<div class="navbar-header">
			<a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
				<i class="fa fa-bars"></i>
			</a>
			<a class="navbar-brand" href="#">
                <img alt="" style="" src="res/img/logo_empresa.png">
            </a>
		</div>
		<div class="topbar-tools">
			<!-- start: TOP NAVIGATION MENU -->
			<ul class="nav navbar-right">
				<!-- start: USER DROPDOWN -->
				<a class="btn btn-default" href="javascript:void(0);"><i class="glyphicon glyphicon-share"></i> Meus Dados</a>
				<a class="btn btn-default" href="{$path}/"><i class="glyphicon glyphicon-share"></i> Atualizar Permissões </a>
				<a class="btn btn-default" href="{$path}/logout.php"><i class="glyphicon glyphicon-share"></i> Sair </a>
				<!-- end: USER DROPDOWN -->
			</ul>
			<!-- end: TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- end: TOPBAR CONTAINER -->
</header>