
{$header.head-title?"":'<div class="container">'}	
	<div class="toolbar row">
		<div class="subviews">
			<div class="subviews-container"></div>
		</div>
	    <div class="col-sm-6 hidden-xs">
	        <div class="page-header">
	            <h1>{$header.title}
            	{if="$header.subtitle"}</h1>
            		<small>{$header.subtitle}</small>
            	{/if}
	        </div>
	    </div>
		<div class="col-sm-6 col-xs-12">
			<a href="#" class="close-subviews" style="display: none; opacity: 0; left: 20px;">
				<i class="fa fa-times"></i> CLOSE
			</a>
			<div class="toolbar-tools pull-right" style="opacity: 1; left: 0px; display: block;">
			</div>
		</div>
	</div>