<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
			{include="panel-tools"}
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<div class="panel panel-white">
							<div class="panel-heading">
								<h4 class="panel-title"><span class="text-bold">Status da Correspondência </span></h4>
								<div class="panel-body">
									<div id="demo-chart-10" class="height-300">
										<svg></svg>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-white">
							<div class="panel-heading">
								<h4 class="panel-title"><span class="text-bold">Tipo de Correspondência </span></h4>
								<div class="panel-body">
									<div id="tipocorrespondencia-chart" class="height-300">
										<svg></svg>
									</div>
								</div>
							</div>
						</div>
					</div>

<!-- 					<div class="row">
						<div class="col-md-7 col-lg-5 col-md-offset-1">
							<div class="panel panel-dark">
								<div class="panel-heading">
									<h4 class="panel-title">Diariamente</h4>
								</div>
								<div class="panel-body no-padding">
									<div class="partition-green padding-15 text-center">
										<h4 class="no-margin"></h4>
										<span class="text-light"></span>
									</div>
									<div id="accordion" class="panel-group accordion accordion-white no-margin">
										<div class="panel no-radius">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a href="#collapse_hoje" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
													<i class="icon-arrow"></i>
													Hoje <span class="label label-danger pull-right">3</span>
												</a></h4>
											</div>
											<div class="panel-collapse collapse" id="collapse_hoje" style="height: 0px;">
												<div class="panel-body no-padding partition-light-grey">
													<table class="table">
														<tbody>
															<tr>
																<td class="center">1</td>
																<td>Google Chrome</td>
																<td class="center">4909</td>
																<td><i class="fa fa-caret-down text-red"></i></td>
															</tr>
															<tr>
																<td class="center">2</td>
																<td>Mozilla Firefox</td>
																<td class="center">3857</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">3</td>
																<td>Safari</td>
																<td class="center">1789</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">4</td>
																<td>Internet Explorer</td>
																<td class="center">612</td>
																<td><i class="fa fa-caret-down text-red"></i></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel no-radius">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a href="#collapse_ontem" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
													<i class="icon-arrow"></i>
													Ontem
												</a></h4>
											</div>
											<div class="panel-collapse collapse" id="collapse_ontem" style="height: 0px;">
												<div class="panel-body no-padding partition-light-grey">
													<table class="table">
														<tbody>
															<tr>
																<td class="center">1</td>
																<td>Google Chrome</td>
																<td class="center">5228</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">2</td>
																<td>Mozilla Firefox</td>
																<td class="center">2853</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">3</td>
																<td>Safari</td>
																<td class="center">1948</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">4</td>
																<td>Internet Explorer</td>
																<td class="center">456</td>
																<td><i class="fa fa-caret-down text-red"></i></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel no-radius">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a href="#collapse_2_ultimos_dias" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15">
													<i class="icon-arrow"></i>
													2 Ultimos Dias
												</a></h4>
											</div>
											<div class="panel-collapse collapse in" id="collapse_2ultimos_dias">
												<div class="panel-body no-padding partition-light-grey">
													<table class="table">
														<tbody>
															<tr>
																<td class="center">1</td>
																<td>Google Chrome</td>
																<td class="center">4256</td>
																<td><i class="fa fa-caret-down text-red"></i></td>
															</tr>
															<tr>
																<td class="center">2</td>
																<td>Mozilla Firefox</td>
																<td class="center">3557</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">3</td>
																<td>Safari</td>
																<td class="center">1435</td>
																<td><i class="fa fa-caret-up text-green"></i></td>
															</tr>
															<tr>
																<td class="center">4</td>
																<td>Internet Explorer</td>
																<td class="center">423</td>
																<td><i class="fa fa-caret-down text-red"></i></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-lg-5">
								<div class="panel panel-dark">
									<div class="panel-heading">
										<h4 class="panel-title">Semanalmente</h4>
									</div>
									<div class="panel-body no-padding">
										<div class="partition-green padding-15 text-center">
											<h4 class="no-margin"></h4>
											<span class="text-light"></span>
										</div>
										<div id="accordion" class="panel-group accordion accordion-white no-margin">
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Nesta Semana <span class="label label-danger pull-right">3</span>
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4909</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3857</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1789</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">612</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Semana Passada
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">5228</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">2853</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1948</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">456</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15">
														<i class="icon-arrow"></i>
														2 Ultimas Semanas
													</a></h4>
												</div>
												<div class="panel-collapse collapse in" id="collapseThree">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4256</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3557</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1435</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">423</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7 col-lg-5 col-md-offset-1">
								<div class="panel panel-dark">
									<div class="panel-heading">
										<h4 class="panel-title">Mensalmente</h4>
									</div>
									<div class="panel-body no-padding">
										<div class="partition-green padding-15 text-center">
											<h4 class="no-margin dash_title"></h4>
											<span class="text-light dash_subtitle"></span>
										</div>
										<div id="accordion" class="panel-group accordion accordion-white no-margin">
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_neste_mes" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Neste Mês<span class="label label-danger pull-right"></span>
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapse_neste_mes" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4909</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3857</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1789</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">612</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_ultimo_mes" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Ultimo Mês
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapse_ultimo_mes" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">5228</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">2853</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1948</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">456</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_2_ultimos_meses" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15">
														<i class="icon-arrow"></i>
														2 Ultimos Meses
													</a></h4>
												</div>
												<div class="panel-collapse collapse in" id="collapse_2_ultimos_meses">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4256</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3557</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1435</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">423</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="col-md-7 col-lg-5">
								<div class="panel panel-dark">
									<div class="panel-heading">
										<h4 class="panel-title">Anualmente</h4>
									</div>
									<div class="panel-body no-padding">
										<div class="partition-green padding-15 text-center">
											<h4 class="no-margin"></h4>
											<span class="text-light"></span>
										</div>
										<div id="accordion" class="panel-group accordion accordion-white no-margin">
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_neste_ano" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Neste Ano <span class="label label-danger pull-right"></span>
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapse_neste_ano" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4909</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3857</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1789</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">612</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_ultimo_ano" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15 collapsed">
														<i class="icon-arrow"></i>
														Ultimo Ano
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="collapse_ultimo_ano" style="height: 0px;">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">5228</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">2853</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1948</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">456</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="panel no-radius">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#collapse_2_ultimos_anos" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle padding-15">
														<i class="icon-arrow"></i>
														2 Ultimos Anos
													</a></h4>
												</div>
												<div class="panel-collapse collapse in" id="collapse__ultimos_anos">
													<div class="panel-body no-padding partition-light-grey">
														<table class="table">
															<tbody>
																<tr>
																	<td class="center">1</td>
																	<td>Google Chrome</td>
																	<td class="center">4256</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
																<tr>
																	<td class="center">2</td>
																	<td>Mozilla Firefox</td>
																	<td class="center">3557</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">3</td>
																	<td>Safari</td>
																	<td class="center">1435</td>
																	<td><i class="fa fa-caret-up text-green"></i></td>
																</tr>
																<tr>
																	<td class="center">4</td>
																	<td>Internet Explorer</td>
																	<td class="center">423</td>
																	<td><i class="fa fa-caret-down text-red"></i></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
