<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
			{include="panel-tools"}
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<div class="panel panel-white">
							<div class="panel-heading">
								<h4 class="panel-title"><span class="text-bold">Status da Correspondência </span></h4>
								<div id="statuscorrespondencia-chart" class="height-300">
									<svg></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-white">
							<div class="panel-heading">
								<h4 class="panel-title"><span class="text-bold">Tipo de Correspondência </span></h4>
								<div id="tipocorrespondencia-chart" class="height-300">
									<svg></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>