<STYLE TYPE="text/css">
body.login{
	background-color: #173269 !important;
	background-image: none;
}
.topo img{
	position: absolute;
}
.box-login{
	background-color: transparent !important;
}
/*HEADER - Inicio*/
.headerLogin{    
	background: url("res/img/loginbg.jpg") repeat-x;
    height: 200px;
}

#headerLoginLeft{        	
    width: calc(50% - 250px);
    float:left;    
}

#headerLoginCenter{
    background: url("res/img/loginCenter.jpg") top center no-repeat;
    width: 500px;
    float: left;
    height: 200px;
    text-align: center;
    color: #fff;
}

#headerLoginRight{      	  
    width: calc(50% - 250px);
    float:right;    
}

#logoLiralink{		
	display: block;
	background: url("res/img/logoLiraLinkBranco.png");
	width: 131px;
	height: 38px;
    position: relative;
    left: 186px;
	top: 90px;
}

#nomeSistema{
	font-size: 13px;
	display: block;
	text-align: center;
	width: 100%;
    position: relative;
	top: 100px;	
	font-weight: bold;
}
.container{
    margin-top:10px;
    color: #fff;   
    width: 600px; 
}
.form-group label{
	color: #FFF !important;
}
fieldset button{
	width: 100%;
}
fieldset button.btn-primary{
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	border: none;
}
.main-container, #pageslide-left, #pageslide-right{
	background-color: #DDDDDD !important;
}
/*HEADER - Fim*/
</STYLE>
<div class="topo">
	<div class="headerLogin">
        <div id="headerLoginLeft">&nbsp;</div>
        <div id="headerLoginCenter">
            <a id="logoLiralink" href="#"></a><span id="nomeSistema">Sistema de Documentos</span>
        </div>
        <div id="headerLoginRight">&nbsp;</div>
    </div>
</div>
<div class="row">

	<div class="main-login container">
		<!-- start: LOGIN BOX -->
		<div class="box-login">
			<form class="form-login" id="form-login">
				<div class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i> {$string.login_error}
				</div>
				<fieldset>
					<div class="row">
		                <div class="col-md-6">
		                    <div class="form-group">
		                        <label>Email:</label>
		                        <input type="text" class="form-control" name="username" placeholder="{$string.login_username}">
		                    </div>
		                </div>
		                <div class="col-md-6">
		                    <div class="form-group">
		                        <label>Senha:</label>
		                        <input type="password" class="form-control password" name="password" placeholder="{$string.login_password}">
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-6"></div>
		                <div class="col-md-6">
								<!--<label for="remember" class="checkbox-inline">-->
									<!--<input type="checkbox" class="grey remember" name="m" value="1" id="remember">-->
									<!--{$string.login_signedin}-->
								<!--</label>-->
								<button type="button" class="btn btn-submit btn-green pull-right btn-primary">
									Login
								</button>
		                </div>
	                </div>	            
					
				</fieldset>
			</form>
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				{function="date('Y')"} &copy; {$string.fastcode}.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- end: LOGIN BOX -->
		<!-- start: FORGOT BOX -->
<!-- 		<div class="box-forgot">
			<h3>{$string.forgot_title}</h3>
			<p>{$string.forgot_enteremailandpass}</p>
			<form class="form-forgot" id="form-forgot">
				<input type="hidden" name="url" value="{$url}">
				<div class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i> {$string.login_error}
				</div>
				<fieldset>
					<div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control" name="email" placeholder="{$string.forgot_email}">
							<i class="fa fa-envelope"></i> </span>
					</div>
					<div class="form-actions">
						<a class="btn btn-light-grey go-back">
							<i class="fa fa-chevron-circle-left"></i> {$string.back}
						</a>
						<button type="submit" class="btn btn-green pull-right">
							{$string.submit} <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form> -->
			<!-- start: COPYRIGHT -->
<!-- 			<div class="copyright">
				{function="date('Y')"} &copy; {$string.fastcode}.
			</div> -->
			<!-- end: COPYRIGHT -->
		<!-- </div> -->
		<!-- end: FORGOT BOX -->
	</div>
</div>
<script src="{$path}/res/js/login.js"></script>
<script type="text/javascript">

var string_login_wait = "{$string.login_wait}";
initJquery.push(function(){
	
	$("#contenthide").show();

	Login.init();

	$("#form-login").on("submit", function(event){
		event.preventDefault();
		return false;
	});

	$("#form-login input").on("keyup", function(event){
		event.preventDefault();
		if(event.keyCode === 13) $("#form-login .btn-submit").trigger("click");
	});

	$("#form-login .btn-submit").on("click", function(){
		var $t = $(this),
			l = $("#form-login [name='username']").val(),
			p = $("#form-login [name='password']").val(),
			m = $("#form-login [name='m']:checked").val(),
			url = $("#form-login [name='url']").val();

		if(l && p){

			$t.attr("disabled", "disabled");

			toastr.info(string_login_wait);

			$.getJSON("actions/login.php", $.param({
				l:l,
				p:p,
				m:m
			}), function(r){

				if(r.success){

					window.location.href = r.url;
					toastr.success(r.successMsg);

				}else{

					$t.removeAttr("disabled");
					toastr.error(r.error);

				}

			});

		}		

	});

});
</script>