<div class="panel-body">
	<table id="example142438957123" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>idpessoa</th>
                <th>Pessoa</th>
                <th>Tipo de Pessoa</th>
            </tr>
        </thead> 
        <tfoot>
            <tr>
                <th>idpessoa</th>
                <th>Pessoa</th>
                <th>Tipo de Pessoa</th>
            </tr>
        </tfoot>
    </table>
</div>
