<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-body">
				<form action="" role="form" id="form_myprofile_usuario">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Nome Completo:
								</label>
								<span class="input-icon">
									<input type="hidden" name="idusuario" value="{$session.idusuario}">
									<input type="text" placeholder="Nome Completo" class="form-control field_readonly" id="desnome" name="desnome" required="" value="{$session.desnome}" >
									<i class="fa fa-male"></i>
								</span>
							</div>
							<div class="form-group">
								<label class="control-label">
									Login:
								</label>
								<span class="input-icon">
									<input type="text" placeholder="Login" class="form-control field_readonly" id="deslogin" name="deslogin" required="" value="{$session.deslogin}">
									<i class="fa fa-user"></i> 
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Senha:
								</label>
								<span class="input-icon">
									<input type="password" placeholder="Senha" class="form-control" id="dessenha" name="dessenha" minlength="6" required="" value="{$session.dessenha}">
									<i class="fa fa-lock"></i> 
								</span>
							</div>
							<div class="form-group">
								<label class="control-label">
									Status:
								</label>
								<select name="instatus" class="form-control">
									<option value="{$session.instatus}" selected>{$session.instatus?Ativo:Inativo}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">
							<i class="fa fa-times fa fa-white"></i>
							Fechar
						</button>
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-save fa fa-white"></i>
							Salvar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{$path}/res/js/usuarios/myprofile.js"></script>
