{*{if="isset($session) && isset($session.idusuario)"}*}
{include="header-toolbar"}

<a class="closedbar inner hidden-sm hidden-xs" href="#" style=""></a>
<nav id="pageslide-left" class="pageslide inner">
	<div class="navbar-content" style="height: 800px;">
	<!-- start: SIDEBAR -->
	<div class="main-navigation left-wrapper transition-left ps-container" style="height: 800px;">
		<div class="navigation-toggler hidden-sm hidden-xs">
			<a href="#main-navbar" class="sb-toggle-left">
			</a>
		</div>
		<!-- start: MAIN NAVIGATION MENU -->
		<ul class="main-navigation-menu">
			{loop="menu_data"}
				{if="$value.idmenupai"}
					{if="$value.instatus"}
						{$value.idmenu == 2?"<li class='active'>":"<li>"}		
							<a href="{$value.desmenu == Home?$path:"javascript:void(0);"}" data-url="{$path}/{$value.deshandler}">
								<i class="{$value.desicone}"></i>
								<span class="title"> {$value.desmenu} </span>
							</a>
						</li>						
					{/if}
				{/if}
			{/loop}
		</ul>
		<!-- end: MAIN NAVIGATION MENU -->
	<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px; width: 260px; display: none;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 400px; display: inherit;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
	<!-- end: SIDEBAR -->
</div>
<div class="slide-tools">
	<div class="col-xs-5 text-left no-padding">
		<a class="btn btn-sm status" href="#"></a>
	</div>
	<div class="col-xs-6 text-right no-padding">
		<a class="btn btn-sm log-out text-right" href="logout.php">
			<i class="fa fa-power-off"></i> Sair
		</a>
	</div>
</div>
</nav>