<div class="row fullsizePage">
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-body">
				<div class="form-group">
					<label for="select-usuarios">
						Usuarios
					</label>
					<select id="select-usuarios" class="form-control search-select">
						<option value=""></option>
						{loop="usuarios"}
						<option value="{$value.idusuario}">{$value.deslogin} - {$value.desnome}</option>
						{/loop}
					</select>
				</div>
				<div id="content_tree">
					<div id="tree_permissoes" class="tree-demo usuarios"></div>
				</div>
				<div class="text-bold text-red">
					* Permissões visualizadas apenas para usuarios ativos no sistema.
				</div>
			</div>
			<div class="panel-body p2">
				<div class="text-bold">
					Permissão de ação nas telas
				</div>
				<div class="form-group">
					<select id="menus" class="form-control">
						<option value=""></option>						
					</select>
				</div>
				<div class="form-group hide options">
					<div class="checkbox">
						<label>
							<input id="check1" type="checkbox" name="desexcluir" value="1"> Exclusão
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="check2" type="checkbox" name="desexcluir" value="2"> Edição
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="check3" type="checkbox" name="desexcluir" value="3"> Inclusão
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{$path}/res/js/permissoes/permissoes.js"></script>