	<table class="table table-condensed table-hover dados_pessoas">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="tbody_pessoas_e_empresas_relacionadas">
			{loop="pessoasvinculadas"}
				{$key%2 == 0?'<tr>':''}
			<td>
				<h4>
					<a class="tooltips" href="#" data-original-title="Clique para acessar o cadastro">
						<span class="fa fa-user"></span> {$value.despessoa} 
					</a>
					<a href="actions/remove.vinculo.php?idpessoa={$value.idpessoa}" class="tooltips" data-original-title="Remover Vinculo">
						<i class="fa {$value.despessoa==1}?fa-times:fa-building-o remove-pessoa-vinculo">
						</i>
					</a>
				</h4>
			</td>
				{$key%2 == 1?'</tr>':''}
		{/loop}
	</tbody>
	</table>					