<div class="row fullsizePage">
	<div class="col-sm-12">
		<!-- start: FULL CALENDAR PANEL -->
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<button class="btn btn-green" data-target=".documentotipo" data-toggle="modal" data-form-url-save="actions/save.documentotipo.php"><i class="fa fa-plus"></i> Adicionar Documentos</button>
				<!-- <i class="fa fa-calendar"></i> -->
				{include="panel-tools"}

			</div>
			<div class="panel-body">
				<table class="table table-hover display" id="data_table_dinamic">
					<thead>
						<tr>
							<th>#</th>
							<th>Tipo de Documento</th>														
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<a href="#" class="btn btn-xs btn-blue tooltips" data-toggle="modal" data-target=".pessoa_enderecos" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.documentotipo.php" data-form-url-save="actions/save.documentotipo.php" data-form-params="{1}"><i class="fa fa-edit"></i></a>

						<a href="#" class="btn btn-xs btn-blue tooltips" data-toggle="modal" data-target=".documentotipo" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.documentotipo.php" data-form-url-save="actions/save.documentotipo.php" data-form-params="{1}"><i class="fa fa-edit"></i></a>

						{loop="documentotipos"}
						<tr>
							<td data-iddocumentotipo="{$value.iddocumentotipo}">{$value.iddocumentotipo}</td>
							<td>{$value.desdocumentotipo}</td>
							<td class="hidden-xs">
								{if="$value.instatus == 0"}
									<span class="label label-sm label-danger">Desativado</span>
								{else}
								<span class="label label-sm label-success">Ativo</span>
								{/if}</td>
								<td class="center">
								<div class="visible-md visible-lg hidden-sm hidden-xs">


									<a href="#" class="btn btn-xs btn-blue tooltips" data-toggle="modal" data-target=".documentotipo" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.documentotipo.php" data-form-url-save="actions/save.documentotipo.php" data-form-params="{1}"><i class="fa fa-edit"></i></a>

									<a href="delete_documentotipo?iddocumentotipo={$value.iddocumentotipo}" class="btn btn-xs btn-red tooltips" data-target=".deletandodocumento" data-toggle="modal" data-placement="top" data-original-title="Remover"><i class="fa fa-times fa fa-white"></i></a>
								</div>
							</tr>	
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--START ADICIONANDO NOVO DOCUMENTO-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_enderecos1 fade" style="display: none; margin-top: 0px;">
	<div class="modal-md modal-dialog loadmask">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
					×
				</button>
				<h4 id="myModalLabel" class="modal-title">Adicionando Novo Documento</h4>
			</div>
			<div class="modal-body">
				<form action="#" role="form" id="form_documentotipo">
					<div class="row">
						<div class="col-md-12">
							<h3>Dados do Documento</h3>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Tipo do Documento:
								</label>
								<input type="hidden" class="form-control" id="iddocumentotipo" name="iddocumentotipo">
								<input type="hidden" value="1" class="form-control" id="idcategoria" name="idcategoria">
								<input type="text" placeholder="Tipo Documento" class="form-control" id="desdocumentotipo" name="desdocumentotipo" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="form-field-select-1">
									Status:
								</label>
								<select id="form-field-select-1" name="instatus" class="form-control">
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">
							<i class="fa fa-times fa fa-white"></i>
							Fechar
						</button>
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-save fa fa-white"></i>
							Salvar
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!--END ADICIONANDO NOVO DOCUMENTO-->

<!--START EDITANDO DOCUMENTO-->
<div class="modal fade editandodocumento" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none; margin-top: 0px;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
					×
				</button>
				<h4 id="myLargeModalLabel" class="modal-title">Editando Documento</h4>
			</div>
			<div class="modal-body">
				<form action="" id="form_documentotipo_edit">
					<div class="row">
						<div class="col-md-12">
							<h3>Dados do Documento</h3>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Tipo do Documento:
								</label>
								<input type="hidden" id="iddocumentotipo" name="iddocumentotipo">
								<input type="hidden" value="1" class="form-control" id="idcategoria" name="idcategoria">
								<input type="text" placeholder="Tipo Documento" class="form-control" id="desdocumentotipo" name="desdocumentotipo" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="form-field-select-1">
									Status:
								</label>
								<select id="form-field-select-1" name="instatus" class="form-control">
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">
							<i class="fa fa-times fa fa-white"></i>
							Fechar
						</button>
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-save fa fa-white"></i>
							Salvar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		<!-- /.modal-content -->
</div>
						

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal documentotipo fade" style="display: none; margin-top: 0px;">
	<div class="modal-md modal-dialog loadmask">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
					×
				</button>
				<h4 id="myModalLabel" class="modal-title">Adicionando Novo Documento</h4>
			</div>
			<div class="modal-body">
				<form action="#" role="form" id="form_documentotipo">
					<div class="row">
						<div class="col-md-12">
							<h3>Dados do Documento</h3>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Tipo do Documento:
								</label>
								<input type="hidden" class="form-control" id="iddocumentotipo" name="iddocumentotipo">
								<input type="hidden" value="1" class="form-control" id="idcategoria" name="idcategoria">
								<input type="text" placeholder="Tipo Documento" class="form-control" id="desdocumentotipo" name="desdocumentotipo" required>
								<input type="text" placeholder="CEP" class="form-control" minlength ="8" maxlength="8" id="descep" name="descep">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="form-field-select-1">
									Status:
								</label>
								<select id="form-field-select-1" name="instatus" class="form-control">
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">
							<i class="fa fa-times fa fa-white"></i>
							Fechar
						</button>
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-save fa fa-white"></i>
							Salvar
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!--END MODAL ENDERECOS-->


