<div class="row fullsizePage">
	<input type="hidden" value="{$idpessoa}" name="idpessoa-outros" />
	<div class="col-sm-12">
		<div class="panel panel-white">
			<div class="panel-body user-left">
				{if="$pessoas_view.idpessoa <= 0"}
					<h1>CADASTRO NÃO ENCONTRADO!</h1>
				{else}
				<table class="table table-condensed table-hover dados_pessoas">
					<thead>
						<tr>
							<th><h3 class="text-bold dados_pessoas_subtitulo">Dados Pessoais:</h3></th>
							<th></th>
							<th></th>
							<th><h2>
								<a href="#" class="fa fa-pencil edit-user-info tooltips" data-original-title="Editar/Visualizar" data-target="{$pessoas_view.idpessoatipo == 1?'.pessoa_dadospessoais_fisica':'.pessoa_dadospessoais_juridica'}" data-form-url-load="actions/get.pessoa.fisica.juridica.php" data-form-url-save="actions/save.pessoa.php" data-form-params="{$pessoas_view.idpessoa}" data-toggle="modal">
								</a>
							</h2></th>
						</tr>
					</thead>
					<tbody id="tbody_dados_pessoais">
						<tr>
							<td><h4>Nome:<h4></td>
							<td><h4><a href="#">{$pessoas_view.despessoa}</a><h4></td>
							<td></td>
							<td><h3></h3></td>
						</tr>
						{if="$pessoas_view.idpessoatipo == 1"}
						<tr>
							<td><h4>Nascimento:<h4></td>
							<td><h4><a href="#">{$pessoas_view.dtnascimento}</a></h4></td>
							<td></td>	
							<td><h3></h3></td>
						</tr>
						<tr>
							<td><h4>Sexo:<h4></td>
							<td><h4><a href="#">{$pessoas_view.dessexo == "F"?Feminino:Masculino}</a></h4></td>
							<td></td>
							<td><h3></h3></td>
						</tr>
						{else}
						<tr>
							<td><h4>Ramo de Atividade:<h4></td>
							<td><h4><a href="#">{$pessoas_view.desramoatividade}</a></h4></td>
							<td></td>
							<td><h3></h3></td>
						</tr>
						{/if}
						<tr>
							<td><h4>Tipo de Pessoa:<h4></td>
							<td><h4>
									<a href="#">{$pessoas_view.idpessoatipo == "1"?Física:Juridica}</a>										
							</h4></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Status:<h4></td>
							<td><h4>
									{if="$pessoas_view.instatus == 1"}
										<span class="label label-sm label-success">Ativo</span>
									{else}
										<span class="label label-sm label-danger">Inativo</span>

									{/if}										
							</h4></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th><h3 class="text-bold"> Empresa:</h3></th>
							<th></th>
							<th></th>
							<th>
								<h2><a class="fa fa-plus tooltips" data-form-url-edit="actions/edit.pessoa.empresa.php" data-form-params="{$pessoas_view.idpessoa}" data-original-title="{$pessoas_view.idpessoaempresa?'Alterar Empresa':'Adicionar Empresa'}" data-target=".vincularpessoaempresa" data-toggle="modal" data-titlemodal="Adicionar Empresa"></a>
								</h2>	
							</th>
						</tr>
					</thead>
					<tbody id="tbody_empresa">
						<tr>
							<td><h4>Nome:</h4></td>												{if="$pessoas_view.idpessoaempresa == NULL || $pessoas_view.idpessoaempresa == 0"}
								<td>
									<h4 class="text-bold">
										<div class="text-red text-bold">Nenhuma Empresa Cadastrada</div>
									</h4>
								</td>
								<td></td>
								<td></td>
							{else}
								<td>
									<h4>
										<a class="link-cadpessoaempresa tooltips" data-target='.pessoaview' data-original-title="Clique para acessar o Cadastro" href="#" data-url="pessoas.view.php" data-form-params="{$pessoas_view.idpessoaempresa}"><span  class="text-bold">{$pessoas_view.despessoaempresa}</span></a>
									</h4></td>
								<td></td>
								<td>
									<h2>
										<a href="javascript:void(0)" data-form-url-remove="actions/remove.pessoa.empresa.php" class="link-cadpessoaempresaremove tooltips" data-target=".removerpessoaempresa" data-form-params="{$pessoas_view.idpessoa}" data-form-params-idpessoapai="{$pessoas_view.idpessoaempresa}" href="{$pessoas_view.idpessoa}" class="tooltips" data-original-title="Remover Empresa"><i class="fa fa-times remove-pessoa-vinculo-empresa"></i></a>
									</h2>
								</td>
							{/if}
						</tr>
					</tbody>
					{if="count($campos) > 0"}
						<thead>
							<tr>
								<th><h3 class="text-bold"> Outros:</h3></th>
								<th></th>
								<th></th>
								<th><h2><a class="fa fa-edit tooltips" id="btn-modal-outros" style="cursor: pointer"></a>
								</h2></th>
							</tr>
						</thead>
						<tbody>
							{loop="$camposoutros"}
								<tr>
									<td><h4>{$value.desnomeexibicao}</h4></td>
									<td colspan="3">{$value.desvalue}</td>
								</tr>
							{/loop}
						</tbody>
					{/if}
					{if="$pessoas_view.idpessoatipo == 2"}
					<thead>
						<tr>
							<th><h3 class="text-bold dados_pessoas_subtitulo"><a><span class="fa fa-plus" data-tbody="2"></span> Pessoas e Empresas Relacionadas:</a></h3></th>
							<th></th>
							<th></th>
							<th>
								<h2><a class="fa fa-plus tooltips" data-form-url-load="actions/list.pessoas.php" data-form-url-edit ="actions/edit.pessoa.vinculada.php" data-form-url-remove="actions/remove.pessoas.vinculadas.php" data-form-params="{$pessoas_view.idpessoa}" data-original-title="Adicionar" data-target=".relacionando_pessoas" data-toggle="modal" data-titlemodal="Relacionando Nova Pessoa"></a></h2>
							</th>
						</tr>
					</thead>
					<tbody id="tbody_pessoas_e_empresas_relacionadas" data-form-url-load="actions/get.pessoa.vinculada.php" data-form-params="{$pessoas_view.idpessoa}" class="no-display">
						<tr>
							<td></td>
							<td>
								<h4>
									<div class="text-bold">
										<i class="fa fa-spinner fa-spin fa-2x"></i>
									</div>
								</h4>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					{/if}
					<thead>
						<tr>
							<th><h3 class="text-bold dados_pessoas_subtitulo"><a><span class="fa fa-plus" data-tbody="3"></span> Documentos:</a></h3></th>
							<th></th>
							<th></th>
							<th><h2><a class="fa fa-plus tooltips" data-form-url-save="actions/save.documento.php" data-original-title="Adicionar" data-form-params-idpessoa="{$pessoas_view.idpessoa}" data-target=".pessoa_documentos" data-toggle="modal" data-titlemodal="Adicionando Novo Documento"></a></h2></th>
						</tr>
					</thead>
					<tbody id="tbody_documentos" data-form-url-load="actions/get.documento.pessoa.php" data-form-params="{$pessoas_view.idpessoa}" class="no-display">
						<tr>
							<td></td>
							<td>
								<h4>
									<div class="text-bold">
										<i class="fa fa-spinner fa-spin fa-2x"></i>
									</div>
								</h4>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th><h3 class="text-bold dados_pessoas_subtitulo"><a><span class="fa fa-plus" data-tbody="4"></span> Contatos:</a></h3></th>
							<th></th>
							<th></th>
							<th><h2><a class="fa fa-plus tooltips" data-form-url-save="actions/save.contato.php" data-original-title="Adicionar" data-form-params-idpessoa="{$pessoas_view.idpessoa}" data-target=".pessoa_contatos" data-toggle="modal" data-titlemodal="Adicionando Novo Contato"></a></h2></th>
						</tr>
					</thead>
					<tbody id="tbody_contatos" data-form-url-load="actions/get.contato.pessoa.php" data-form-params="{$pessoas_view.idpessoa}" class="no-display">
						<tr>
							<td></td>
							<td>
								<h4>
									<div class="text-bold">
										<i class="fa fa-spinner fa-spin fa-2x"></i>
									</div>
								</h4>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th><h3 class="text-bold dados_pessoas_subtitulo"><a><span class="fa fa-plus" data-tbody="5"></span> Enderecos:</a></h3></th>
							<th></th>
							<th></th>
							<th><h2><a href ="#" class="fa fa-plus tooltips" data-original-title="Adicionar" data-target=".pessoa_enderecos" data-form-params-idpessoa="{$pessoas_view.idpessoa}" data-form-url-save="actions/save.endereco.php" data-toggle="modal" data-titlemodal="Adicionando Novo Endereço"></a></h2></th>
						</tr>
					</thead>
					<tbody id="tbody_enderecos" data-form-url-load="actions/get.endereco.pessoa.php" data-form-params="{$pessoas_view.idpessoa}"  class="no-display">
						<tr>
							<td></td>
							<td>
								<h4>
									<div class="text-bold">
										<i class="fa fa-spinner fa-spin fa-2x"></i>
									</div>
								</h4>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<!--START MODAL DADOS PESSOAIS_FISICO-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_dadospessoais_fisica fade">
					<div class="modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Editando Dados</h4>
								<small>Dados da Pessoa Física</small>
							</div>
							<div class="modal-body">
								<form action="#" id="form_pessoa_dadospessoais_fisica">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">
													Nome:
												</label>
												<input type="hidden" class="form-control" value="{$pessoas_view.idpessoa}" name="idpessoa">
												<input type="hidden" name="idpessoafisica">
												<input type="text" placeholder="Nome" class="form-control" id="despessoa" name="despessoa" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Sexo:
												</label>
												<select name="dessexo" class="form-control">
													<option value="M">Masculino</option>
													<option value="F">Feminino</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Nascimento:
												</label>
												<input type="date" class="form-control" name="dtnascimento">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Tipo de Pessoa:
												</label>
												<input type="hidden" name="idpessoatipo">
												<input type="text" value="Pessoa Física" class="form-control field_readonly">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Status:
												</label>
												<select name="instatus" class="form-control">
													<option value="1">Ativo</option>
													<option value="0">Inativo</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Cancelar
										</button>
										<button class="btn btn-primary" type="submit" data-loading-text="Loading...">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!--END MODAL DADOS PESSOAIS_FISICO-->
				<!--START MODAL DADOS PESSOAIS_JURIDICO-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_dadospessoais_juridica fade">
					<div class="modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Editando Dados</h4>
								<small>Dados da Pessoa Juridica</small>
							</div>
							<div class="modal-body">
								<form action="#" id="form_pessoa_dadospessoais_juridica">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">
													Nome:
												</label>
												<input type="hidden" class="form-control" value="{$pessoas_view.idpessoa}" name="idpessoa">
												<input type="hidden" name="idpessoajuridica">
												<input type="text" placeholder="Nome" class="form-control"  name="despessoa" required>
											</div>
											<div class="form-group">
												<label class="control-label">
													Ramo de Atividade:
												</label>
												<input type="text" placeholder="Atividade" class="form-control" name="desramoatividade">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Tipo de Pessoa:
												</label>
												<input type="hidden" name="idpessoatipo">
												<input type="text" value="Pessoa Jurídica" class="form-control field_readonly">
											</div>
											<div class="form-group">
												<label class="control-label">
													Status:
												</label>
												<select name="instatus" class="form-control">
													<option value="1">Ativo</option>
													<option value="0">Inativo</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Cancelar
										</button>
										<button class="btn btn-primary" type="submit" data-loading-text="Loading...">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>

				<!--END MODAL DADOS PESSOAIS_JURIDICO-->
				<!--START MODAL DOCUMENTOS-->

				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_documentos fade">
					<div class="modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Adicionando Novo Documento</h4>
								<small>Dados do Documento</small>
							</div>
							<div class="modal-body">
								<form action="#" id="form_pessoa_documentos">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">
													Tipo do Documento:
												</label>
												<select name="iddocumentotipo" class="form-control">
													{loop="documentotipos"}
													<option value="{$value.iddocumentotipo}">{$value.desdocumentotipo}</option>
													{/loop}
												</select>
											</div>
											<div class="form-group">
												<label class="control-label">
													Documento:
												</label>
												<input type="hidden" class="form-control" value="{$pessoas_view.idpessoa}" name="idpessoa">
												<input type="hidden" id="idcontato" class="form-control" name="iddocumento">
												<input type="text" placeholder="Documentos" class="form-control" id="desdocumento" name="desdocumento" required>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Cancelar
										</button>
										<button class="btn btn-primary" type="submit" data-loading-text="Loading...">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>

				<!--END MODAL DOCUMENTOS-->
				<!--START MODAL CONTATOS-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_contatos fade">
					<div class="modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Adicionando Novo Contato</h4>
								<small>Dados do Contato</small>
							</div>
							<div class="modal-body">
								<form action="#" id="form_pessoa_contatos">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">
													Tipo do Contato:
												</label>
												<select name="idcontatotipo" class="form-control">
													{loop="contatotipos"}
														<option value="{$value.idcontatotipo}">{$value.descontatotipo}</option>
													{/loop}
												</select>
											</div>
											<div class="form-group">
												<label class="control-label">
													Telefone/E-mail/Fax/Celular:
												</label>
												<input type="hidden" class="form-control" value="{$pessoas_view.idpessoa}" name="idpessoa">
												<input type="hidden" class="form-control" name="idcontato">
												<input type="text" placeholder="Contatos" class="form-control Telefone" name="descontato" required>
											</div>
											<div class="form-group">
												<label class="checkbox-inline">
													<input type="checkbox" value="1" name="inprincipal" id="inprincipal" class="form-control square-black">
													Contato Principal
												</label>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Cancelar
										</button>
										<button class="btn btn-primary" type="submit" data-loading-text="Loading...">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!--END MODAL CONTATOS-->
				<!--START MODAL ENDERECOS-->

				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa_enderecos fade" style="display: none; margin-top: 0px;">
					<div class="modal-md modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Adicionando Novo Endereço</h4>
								<small>Dados do Endereço</small>
							</div>
							<div class="modal-body">
								<form action="" id="form_pessoa_endereco">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													CEP:
												</label>
												<input type="hidden" class="form-control" value="{$pessoas_view.idpessoa}" name="idpessoa">
												<input type="hidden" id="idendereco" class="form-control" name="idendereco">
												<input type="text" placeholder="CEP" class="form-control cep" minlength ="9" maxlength="9" id="descep" name="descep" required>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
											<label class="control-label">
											</label>
												<div id="msg_error_cep" class="text-bold text-small text-red no-display" style="height:20%; padding-top:10px"></div>
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">
													Endereco:
												</label>
												<input type="text" placeholder="Endereço" class="form-control" id="desendereco" name="desendereco" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">
													Numero:
												</label>
												<input type="text" placeholder="Numero" class="form-control" id="desnumero" name="desnumero">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Complemento:
												</label>
												<input type="text" placeholder="Complemento" class="form-control" id="descomplemento" name="descomplemento">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Bairro:
												</label>
												<input type="text" placeholder="Bairro" class="form-control" name="desbairro" id="desbairro">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Cidade:		
												</label>
												<input type="text" placeholder="Cidade" class="form-control" id="descidade" name="descidade">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Estado:
												</label>
												<select name="idestado" class="form-control">
													{loop="estados"}
													<option value="{$value.idestado}" {$value.desuf=="SP"?selected:''}>{$value.desuf}</option>
													{/loop}
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label">
													Referencia:
												</label>
												<input type="text" placeholder="Referencia" class="form-control" id="desreferencia" name="desreferencia">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="checkbox-inline">
													<input type="checkbox" value="1" name="inprincipal" id="inprincipal" class="form-control square-black">						Endereço Principal
												</label>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Cancelar
										</button>
										<button class="btn btn-primary" type="submit" data-loading-text="Loading...">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>	
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!--END MODAL ENDERECOS-->
				<!--START MODAL RELACIONANDO PESSOAS-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal relacionando_pessoas fade" style="display: none; margin-top: 0px;">
					<div class="modal-lg modal-dialog loadmask_pessoavincula">
						<div class="modal-content" style="min-height:500px;">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Relacionando Pessoas</h4>
								<small>Lista as Pessoas, que podem ser relacionadas a este cadastro</small>
							</div>
							<div class="modal-body">
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
				</div>
				<!--END MODAL RELACIONANDO PESSOAS-->
				<!--START MODAL VINCULAR PESSOAS EMPRESA-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" data-url="actions/list.pessoas.php" role="dialog" tabindex="-1" class="modal vincularpessoaempresa fade" style="display: none; margin-top: 0px;">
					<div class="modal-lg modal-dialog loadmask_pessoavincula">
						<div class="modal-content" style="min-height:500px;">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Vincular Empresas</h4>
								<small>Lista apenas as Pessoas Juridicas, que podem ser relacionadas</small>
							</div>
							<div class="modal-body">
							</div>
						</div>
					</div>
				</div>
				<!--END MODAL VINCULAR PESSOAS EMPRESA-->
				{/if}
				<div aria-hidden="true" id="modal-outros" role="dialog" tabindex="-1" class="modal fade" style="display: none; margin-top: 0px;">
					<div class="modal-lg modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Outros Campos</h4>
								<small>Adicionar mais informações ao cadastro</small>
							</div>
							<div class="modal-body">
								<form id="form_outros">
								{loop="$campos"}
										
									<div class="form-group">
									    <label>{$value.desnomeexibicao}</label>
									    
									    {if="$value.idcampotipo == '1'"}
									    	<input type="text" class="form-control" name="campo-{$value.idcampo}" idpessoaoutros="0">
									    {/if}
									    {if="$value.idcampotipo == '2'"}
									    	<input type="integer" class="form-control" name="campo-{$value.idcampo}" idpessoaoutros="0">
									    {/if}
									    {if="$value.idcampotipo == '3'"}
									    	<input type="integer" class="form-control" name="campo-{$value.idcampo}" idpessoaoutros="0">
									    {/if}
									    {if="$value.idcampotipo == '4'"}
									    	<input type="date" class="form-control" name="campo-{$value.idcampo}" idpessoaoutros="0">
									    {/if}
									    {if="$value.idcampotipo == '5'"}
									    	<select class="form-control" name="campo-{$value.idcampo}" idpessoaoutros="0">
									    		{loop="$value.options"}
									    		<option value="{$value.idcamposelect}">{$value.desvalue}</option>
									    		{/loop}
									    	</select>
									    {/if}
								  	</div>
								{/loop}
								</form>	
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary btn-save-outros">Salvar</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{$path}/res/js/pessoasview/pessoasview.js?{function="time()"}"></script>


