	<div class="row fullsizePage">
		<div class="col-sm-12">
			<div class="panel panel-white">
				<div class="panel-heading border-light">
					{if="$p['inclusao'] == true"}
					<button class="btn btn-green" data-target=".pessoa" data-form-url-save="actions/add.pessoa.php" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar Pessoa</button>
					{include="panel-tools"}
					{/if}
				</div>
				<div class="panel-body">
					<table class="table table-hover display" id="table_data_pessoas">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Endereco</th>
								<th>Bairro</th>
								<th>CEP</th>											
								<th>Telefones</th>									
								<th>E-mail</th>										
								<th></th>											
							</tr>
						</thead>
						<tbody>
							{loop="pessoas"}
							<tr>
								<td>{$value.despessoa}</td>
								<td>
								{if="$value.desendereco <> NULL"}
									{$value.desendereco},{$value.desnumero}
								{/if}
								</td>
								<td>{$value.desbairro}</td>
								<td>{$value.descep}</td>
								<td>{$value.descontato_telefone}</td>
								<td>{$value.descontato_email}</td>
								<td class="center">
										{if="$p['edicao'] == true"}
										<a href="#" class="btn btn-blue btn-xs tooltips" data-target=".pessoaview" data-original-title="Editar/Visualizar" data-url="pessoas.view.php" data-form-params="{$value.idpessoa}"><i class="fa fa-edit fa fa-white"></i></a>
										{/if}
										{if="$p['delecao'] == true"}
										<a href="#" class="btn btn-xs btn-red tooltips" data-target=".removepessoa" data-form-url-delete ="actions/remove.pessoa.php" data-form-params="{$value.idpessoa}" data-toggle="modal" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i>

										</a>
										{/if}
									</div>
								</td>
							</tr>
							{/loop}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--START ADICIONANDO NOVA PESSOA-->
		<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal pessoa fade" style="display: none; margin-top: 0px;">
			<div class="modal-md modal-dialog loadmask">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
							×
						</button>
						<h4 id="myModalLabel" class="modal-title">Adicionando Nova Pessoa</h4>
						<small>Dados da Pessoa</small>
					</div>
					<div class="modal-body">
						<form action="#" role="form" id="form_pessoa">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Nome Completo:
										</label>
										<input type="hidden" name="idpessoa">
										<input type="hidden" name="idpessoafisica">
										<input type="hidden" name="idpessoajuridica">
										<input type="text" placeholder="Nome Completo" class="form-control" name="despessoa" required>
									</div>
									<div class="form-group">
										<label class="control-label">
											E-mail:
										</label>
										<input type="hidden" name="idcontato">
										<input type="text" placeholder="E-mail" class="form-control" name="descontato-email">
									</div>
									<div class="form-group">
										<label class="control-label">
											Telefone:
										</label>
										<input type="text" placeholder="Telefone" class="form-control" name="descontato-telefone">
									</div>
									<div class="form-group">
										<label class="control-label">
											Tipo de Pessoa:
										</label>
										<select name="idpessoatipo" class="form-control">
											<option value="1">Pessoa Física</option>
											<option value="2">Pessoa Juridica</option>
										</select>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button data-dismiss="modal" class="btn btn-danger" type="button">
									<i class="fa fa-times fa fa-white"></i>
									Cancelar
								</button>
								<button class="btn btn-primary nodisable_validation" type="submit">
									<i class="fa fa-save fa fa-white"></i>
									Salvar
								</button>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!--END ADICIONANDO NOVA PESSOA-->
	</div>
	<script src="{$path}/res/js/pessoas/pessoas.js"></script>
