<div class="panel-body">
										<div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-md-6"><div id="sample_1_length" class="dataTables_length"><label>Show <div class="select2-container m-wrap small" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">10</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen2_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-2">   </ul></div></div><select size="1" name="sample_1_length" aria-controls="sample_1" class="m-wrap small select2-offscreen" tabindex="-1" title=""><option value="5">5</option><option value="10" selected="selected">10</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select> Rows</label></div></div><div class="col-md-6"><div class="dataTables_filter" id="sample_1_filter"><label><input type="text" aria-controls="sample_1" class="form-control input-sm" placeholder="Search"></label></div></div></div><table class="table table-striped table-bordered table-hover table-full-width dataTable" id="sample_1" aria-describedby="sample_1_info">
											<thead>
												<tr role="row"><th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 190px;">Browser</th><th class="hidden-xs sorting_asc" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Creator: activate to sort column descending" style="width: 220px;">Creator</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Cost (
													USD): activate to sort column ascending" style="width: 95px;">Cost (
													USD)</th><th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Software license: activate to sort column ascending" style="width: 160px;"> Software license</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Current
													layout engine: activate to sort column ascending" style="width: 118px;">Current
													layout engine</th></tr>
											</thead>
											
										<tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
													<td class=" ">w3m</td>
													<td class="hidden-xs  sorting_1">Akinori Ito</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">MIT</td>
													<td class=" ">-</td>
												</tr><tr class="even">
													<td class=" ">iCab</td>
													<td class="hidden-xs  sorting_1">Alexander Clauss</td>
													<td class=" ">$20 (Pro)</td>
													<td class="hidden-xs ">Proprietary</td>
													<td class=" ">WebKit</td>
												</tr><tr class="odd">
													<td class=" ">AOL Explorer</td>
													<td class="hidden-xs  sorting_1">America Online, Inc</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">Proprietary</td>
													<td class=" ">Trident</td>
												</tr><tr class="even">
													<td class=" ">Safari</td>
													<td class="hidden-xs  sorting_1">Apple Inc.</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">Proprietary</td>
													<td class=" ">WebKit</td>
												</tr><tr class="odd">
													<td class=" ">Avant</td>
													<td class="hidden-xs  sorting_1">Avant Force</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">Proprietary</td>
													<td class=" ">Tri-engine</td>
												</tr><tr class="even">
													<td class=" ">ELinks</td>
													<td class="hidden-xs  sorting_1">Baudis, Fonseca, <i>et al.</i></td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">GPL</td>
													<td class=" ">built-in</td>
												</tr><tr class="odd">
													<td class=" ">Arora</td>
													<td class="hidden-xs  sorting_1">Benjamin C. Meyer</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">GPL</td>
													<td class=" ">WebKit</td>
												</tr><tr class="even">
													<td class=" ">Midori</td>
													<td class="hidden-xs  sorting_1">Christian Dywan, et al.</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">LGPL</td>
													<td class=" ">WebKit</td>
												</tr><tr class="odd">
													<td class=" ">QupZilla</td>
													<td class="hidden-xs  sorting_1">David Rosca</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">GNU GPLv3</td>
													<td class=" ">WebKit</td>
												</tr><tr class="even">
													<td class=" ">Uzbl</td>
													<td class="hidden-xs  sorting_1">Dieter Plaetinck</td>
													<td class=" ">Free</td>
													<td class="hidden-xs ">GNU GPLv3</td>
													<td class=" ">Webkit</td>
												</tr></tbody></table><div class="row"><div class="col-md-6"><div class="dataTables_info" id="sample_1_info">Showing 1 to 10 of 46 entries</div></div><div class="col-md-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination pagination-blue"><li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i> </a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#"> <i class="fa fa-chevron-right"></i></a></li></ul></div></div></div></div>
									</div>