<div class="row fullsizePage">
	<div class="col-md-12">
		<!-- start: MULTIPLE FILE UPLOAD -->
		<div class="panel panel-white">
			<div class="panel-body">
				<form id="fileupload" method="POST" enctype="multipart/form-data">
				<!-- Redirect browsers with JavaScript disabled to the origin page -->
				<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
				<div class="row fileupload-buttonbar">
					<div class="col-lg-7">
						<!-- The fileinput-button span is used to style the file input field as button -->
						<span class="btn btn-success fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span>
							<input type="file" name="files[]" multiple>
						</span>
						<button type="submit" class="btn btn-primary start">
							<i class="glyphicon glyphicon-upload"></i>
							<span>Start upload</span>
						</button>
						<button type="reset" class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel upload</span>
						</button>
						<!-- The loading indicator is shown during file processing -->
						<span class="fileupload-loading"></span>
						<div class="progress-extended">&nbsp;</div>

					</div>

				<!-- The global progress information -->
				</div>
				<!-- The table listing the files available for upload/download -->
				<table id="show_upload_file" role="presentation" class="table table-striped no-display">
					<tbody class="files">
						<tr class="template-upload fade processing in">
							<td>
								<p class="name"></p>
							</td>
							<td>
								<p class="size"></p>			
								<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
							</td>
						</tr>
					</tbody>
				</table>
				</form>
			</div>
		</div>
		<!-- end: MULTIPLE FILE UPLOAD -->
	</div>
</div>
