	<div class="row fullsizePage">
		<div class="col-sm-12">
			<div class="panel panel-white">
				<div class="panel-heading border-light">
					{if="$p['inclusao'] == true"}
						<button class="btn btn-green" data-target=".usuario" data-titlemodal="Adicionando Novo Usuario" data-form-url-save="actions/save.usuario.php" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar Usuários</button>
						{include="panel-tools"}
					{/if}
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover" id="table_data_usuarios">
						<thead>
							<tr>
								<th>Nome Completo</th>
								<th class="hidden-xs">Login</th>
								<th class="hidden-xs">Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{loop="usuarios"}
							<tr>
								<td>{$value.desnome}</td>
								<td class="hidden-xs">{$value.deslogin}</td>
								<td class="hidden-xs">
									{if="$value.instatus ==1"}
										<span class="label label-sm label-success">Ativo</span>
									{else}
										<span class="label label-sm label-danger">Desativado</span>
									{/if}
								</td>
								<td class="center">
									<div class="visible-md visible-lg hidden-sm hidden-xs">
										{if="$p['edicao'] == true"}
										<a href="#" class="btn btn-xs btn-blue tooltips action_read" data-target=".usuario" data-toggle="modal" data-placement="top" data-original-title="Editar/Visualizar" data-form-url-load="actions/get.usuario.php" data-titlemodal="Editando Usuario" data-form-url-save="actions/save.usuario.php" data-form-params="{$value.idusuario}"><i class="fa fa-edit"></i></a>
										{/if}
										{if="$p['delecao'] == true"}
										<a href="#" class="btn btn-xs btn-red tooltips action_read" data-target=".removeusuario" data-toggle="modal" data-placement="top" data-form-url-delete ="actions/remove.usuario.php" data-form-params="{$value.idusuario}" data-original-title="Remover"><i class="fa fa-times fa fa-white"></i></a>
										{/if}
									</div>
								</td>
							</tr>
							{/loop}
						</tbody>
					</table>
				</div>
				<!--START ADICIONANDO NOVO USUARIO-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal usuario fade" style="display: none; margin-top: 0px;">
					<div class="modal-md modal-dialog loadmask">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
									×
								</button>
								<h4 id="myModalLabel" class="modal-title">Adicionando Novo Usuario</h4>
								<small>Dados do Usuario</small>
							</div>
							<div class="modal-body">
								<form action="" role="form" id="form_usuario">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Nome Completo:
												</label>
												<span class="input-icon">
													<input type="hidden" name="idusuario">
													<input type="text" placeholder="Nome Completo" class="form-control" id="desnome" name="desnome" required>
													<i class="fa fa-male"></i>
												</span>
											</div>
											<div class="form-group">
												<label class="control-label">
													Login:
												</label>
												<span class="input-icon">
													<input type="text" placeholder="Login" class="form-control" id="deslogin" name="deslogin" required>
													<i class="fa fa-user"></i> 
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Senha:
												</label>
												<span class="input-icon">
													<input type="password" placeholder="Senha" class="form-control" id="dessenha" name="dessenha" minlength= "6" required>
													<i class="fa fa-lock"></i> 
												</span>
											</div>
											<div class="form-group">
												<label class="control-label">
													Status:
												</label>
												<select name="instatus" class="form-control">
													<option value="1">Ativo</option>
													<option value="0">Desativado</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn btn-danger" type="button">
											<i class="fa fa-times fa fa-white"></i>
											Fechar
										</button>
										<button class="btn btn-primary" type="submit">
											<i class="fa fa-save fa fa-white"></i>
											Salvar
										</button>
									</div>
								</form>
							</div>

						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!--END ADICIONANDO NOVO USUARIO-->
			</div>
		</div>
	</div>
</div>
<script src="{$path}/res/js/usuarios/usuarios.js"></script>
